---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/gitlab-org%2Fcli
        method: GET
      response:
        body: '{"id":34675721,"description":"A GitLab CLI tool bringing GitLab to your command line","name":"cli","name_with_namespace":"GitLab.org / cli","path":"cli","path_with_namespace":"gitlab-org/cli","created_at":"2022-03-21T18:49:22.691Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:gitlab-org/cli.git","http_url_to_repo":"https://gitlab.com/gitlab-org/cli.git","web_url":"https://gitlab.com/gitlab-org/cli","readme_url":"https://gitlab.com/gitlab-org/cli/-/blob/main/README.md","forks_count":210,"avatar_url":"https://gitlab.com/uploads/-/system/project/avatar/34675721/cli-logo.png","star_count":651,"last_activity_at":"2024-11-24T23:24:16.853Z","namespace":{"id":9970,"name":"GitLab.org","path":"gitlab-org","kind":"group","full_path":"gitlab-org","parent_id":null,"avatar_url":"/uploads/-/system/group/avatar/9970/project_avatar.png","web_url":"https://gitlab.com/groups/gitlab-org"},"container_registry_image_prefix":"registry.gitlab.com/gitlab-org/cli","_links":{"self":"https://gitlab.com/api/v4/projects/34675721","issues":"https://gitlab.com/api/v4/projects/34675721/issues","merge_requests":"https://gitlab.com/api/v4/projects/34675721/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/34675721/repository/branches","labels":"https://gitlab.com/api/v4/projects/34675721/labels","events":"https://gitlab.com/api/v4/projects/34675721/events","members":"https://gitlab.com/api/v4/projects/34675721/members","cluster_agents":"https://gitlab.com/api/v4/projects/34675721/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"public","resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2022-03-22T18:49:22.734Z"},"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":40375,"import_status":"finished","open_issues_count":339,"description_html":"\u003cp data-sourcepos=\"1:1-1:54\" dir=\"auto\"\u003eA GitLab CLI tool bringing GitLab to your command line\u003c/p\u003e","updated_at":"2024-11-24T23:50:43.463Z","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":true,"allow_merge_on_skipped_pipeline":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":true,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_on","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":"chore: Apply %{suggestions_count} suggestion(s) to %{files_count} file(s)\r\n\r\n%{co_authored_by}","merge_commit_template":"Merge branch ''%{source_branch}'' into ''%{target_branch}''\r\n\r\n%{title}\r\n\r\n%{issues}\r\n\r\nSee merge request %{url}\r\n\r\nMerged-by: %{merged_by}\r\n%{approved_by}\r\n%{reviewed_by}\r\n%{co_authored_by}","squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"approvals_before_merge":0,"mirror":false,"external_authorization_classification_label":"","marked_for_deletion_at":null,"marked_for_deletion_on":null,"requirements_enabled":true,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"issues_template":"Please select the appropriate template for submitting your issue from the dropdown above.\r\n\r\n/label ~\"devops::create\" ~\"group::code review\" ~\"Category:GitLab CLI\" ~\"cli\"","merge_requests_template":"","merge_pipelines_enabled":true,"merge_trains_enabled":true,"merge_trains_skip_train_allowed":false,"only_allow_merge_if_all_status_checks_passed":false,"allow_pipeline_trigger_approve_deployment":false,"prevent_merge_without_jira_issue":false,"permissions":{"project_access":null,"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 744.017208ms
    - id: 1
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":11356908,"username":"gr4cza","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/070f760ee4c51902038f3f48e605707738f3232ce0dba2e1222d5d2d71afd961?s=80\u0026d=identicon","web_url":"https://gitlab.com/gr4cza","created_at":"2022-04-13T17:02:53.101Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2024-11-23T18:58:28.669Z","confirmed_at":"2022-04-13T17:02:53.036Z","last_activity_on":"2024-11-25","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2024-11-24T23:21:58.136Z","identities":[{"provider":"github","extern_uid":"37271364","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"commit_email":"11356908-gr4cza@users.noreply.gitlab.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 213.052167ms
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/34675721/templates/merge_requests
        method: GET
      response:
        body: '[{"key":"Default","name":"Default"},{"key":"Documentation","name":"Documentation"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 479.153625ms
    - id: 3
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/34675721/templates/merge_requests/Default
        method: GET
      response:
        body: '{"name":"Default","content":"## Description\n\u003c!--- Describe your changes in detail --\u003e\n\n%{all_commits}\n\n## Related Issues\n\u003c!--- This project only accepts merge requests related to open issues --\u003e\n\u003c!--- If suggesting a new feature or change, please discuss it in an issue first --\u003e\n\u003c!--- If fixing a bug, there should be an issue describing it with steps to reproduce --\u003e\nResolves #[issue_number]\n\n## How has this been tested?\n\u003c!--- Please describe in detail how you tested your changes. --\u003e\n\u003c!--- Include details of your testing environment, and the tests you ran to --\u003e\n\u003c!--- see how your change affects other areas of the code, etc. --\u003e\n\n## Screenshots (if appropriate):\n\n### Types of changes\n\u003c!--- What types of changes does your code introduce? Put an `x` in all the boxes that apply: --\u003e\n- [ ] Bug fix (non-breaking change which fixes an issue)\n- [ ] New feature (non-breaking change which adds functionality)\n- [ ] Breaking change (fix or feature that would cause existing functionality to change)\n- [ ] Documentation\n- [ ] Chore (Related to CI or Packaging to platforms)\n- [ ] Test gap\n\n/label ~\"devops::create\" ~\"group::code review\" ~\"Category:GitLab CLI\" ~\"cli\"\n"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 564.13575ms
    - id: 4
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/34675721/templates/merge_requests/Documentation
        method: GET
      response:
        body: '{"name":"Documentation","content":"## Description\n\n\u003c!--- Describe your changes in detail --\u003e\n\n## Related issues and merge requests\n\n\n/label ~\"devops::create\" ~\"group::code review\" ~\"Category:GitLab CLI\" ~\"cli\"\n/label ~documentation ~\"type::maintenance\" ~\"docs::improvement\" ~\"maintenance::refactor\"\n/assign me\n"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 278.561ms
