---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDORFeuHw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 215.350958ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDORFeuHw","baseRefName":"main","headRefName":"ly4mqLzC","title":"Testing ly4mqLzC","body":"Test PR with assignee"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDORFeuH87AtZ_A","number":58,"url":"https://github.com/test-owner/test-repo/pull/58"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 663.888708ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($login:String!){user(login: $login){id}}","variables":{"login":"test-owner-robot"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"user":{"id":"MDQ6VXNlcjQ3MjUzNw=="}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 126.167791ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddAssigneesToAssignableInput!){addAssigneesToAssignable(input: $input){clientMutationId}}","variables":{"input":{"assignableId":"PR_kwDORFeuH87AtZ_A","assigneeIds":["MDQ6VXNlcjQ3MjUzNw=="]}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addAssigneesToAssignable":{"clientMutationId":null}},"extensions":{"warnings":[{"type":"DEPRECATION","message":"The id MDQ6VXNlcjQ3MjUzNw== is deprecated. Update your cache to use the next_global_id from the data payload.","data":{"legacy_global_id":"MDQ6VXNlcjQ3MjUzNw==","next_global_id":"U_kgDOAAc12Q"},"link":"https://docs.github.com"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 522.887875ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":58,"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDORFeuH87AtZ_A","number":58,"url":"https://github.com/test-owner/test-repo/pull/58","title":"Testing ly4mqLzC","state":"OPEN","headRefOid":"beadec4bb26673c26af712e9f50a8abc8b81382a","baseRefName":"main","isDraft":false,"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[{"login":"test-owner-robot"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 258.815375ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}}","variables":{"branch":"ly4mqLzC","limit":10,"owner":"test-owner","repo":"test-repo","states":["OPEN","CLOSED","MERGED"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequests":{"nodes":[{"id":"PR_kwDORFeuH87AtZ_A","number":58,"url":"https://github.com/test-owner/test-repo/pull/58","title":"Testing ly4mqLzC","state":"OPEN","headRefOid":"beadec4bb26673c26af712e9f50a8abc8b81382a","baseRefName":"main","isDraft":false,"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[{"login":"test-owner-robot"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 523.299458ms
