---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
            - chunked
        body: |
            {"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"git-spice integration test repository","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":34,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@localhost/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":1,"watchers_count":1,"open_issues_count":0,"open_pr_counter":9,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-08-23T15:27:54Z","updated_at":"2026-08-23T15:28:00Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"wiki_branch":"main","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":true,"has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":null}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 26.561917ms
    - id: 1
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 70.791917ms
    - id: 2
      request:
        host: 127.0.0.1:3000
        body: '{"title":"Testing review threads zjXLnMOT","body":"Test change for review threads","head":"zjXLnMOT","base":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls
        method: POST
      response:
            - chunked
        body: |
            {"id":10,"url":"https://codeberg.org/test-owner/test-repo/pulls/10","number":10,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"title":"Testing review threads zjXLnMOT","body":"Test change for review threads","labels":[],"milestone":null,"assignee":null,"assignees":null,"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"review_comments":0,"additions":5,"deletions":0,"changed_files":1,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10","diff_url":"https://codeberg.org/test-owner/test-repo/pulls/10.diff","patch_url":"https://codeberg.org/test-owner/test-repo/pulls/10.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":false,"base":{"label":"main","ref":"main","sha":"4e661fc4cc19f7096b20c3fedd9804501e132722","repo_id":1,"repo":{"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"f[...]
    - id: 3
      request:
        host: 127.0.0.1:3000
        body: '{"event":"COMMENT","comments":[{"body":"Single-line review comment.","path":"review.go","new_position":3}]}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/10/reviews
        method: POST
      response:
        body: |
            {"id":4,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"team":null,"state":"COMMENT","body":"","commit_id":"97bf21c9c3d6e3f191fd21eaf27cc91d247bdff5","stale":false,"official":false,"dismissed":false,"comments_count":1,"submitted_at":"2026-08-23T15:28:06Z","updated_at":"2026-08-23T15:28:06Z","html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-60","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 303.566ms
    - id: 4
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/10/reviews/4/comments
        method: GET
      response:
        body: |
            [{"id":59,"body":"Single-line review comment.","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"resolver":null,"pull_request_review_id":4,"created_at":"2026-08-23T15:28:06Z","updated_at":"2026-08-23T15:28:06Z","path":"review.go","commit_id":"97bf21c9c3d6e3f191fd21eaf27cc91d247bdff5","original_commit_id":"","diff_hunk":"@@ -0,0 +1,5 @@\n+package review\n+\n+func value() int {","position":3,"original_position":0,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-59","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10"}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 60.512042ms
    - id: 5
      request:
        host: 127.0.0.1:3000
        form:
            limit:
                - "100"
            page:
                - "1"
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/10/reviews?limit=100&page=1
        method: GET
      response:
        body: |
            [{"id":4,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"team":null,"state":"COMMENT","body":"","commit_id":"97bf21c9c3d6e3f191fd21eaf27cc91d247bdff5","stale":false,"official":false,"dismissed":false,"comments_count":1,"submitted_at":"2026-08-23T15:28:06Z","updated_at":"2026-08-23T15:28:06Z","html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-60","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10"}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 14.496791ms
[...]
    - id: 10
      request:
        host: 127.0.0.1:3000
        body: '{"body":"Edited single-line review comment."}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/comments/59
        method: PATCH
      response:
        body: |
            {"id":59,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-59","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10","issue_url":"","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.localhost","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-23T15:27:53Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"original_author":"","original_author_id":0,"body":"Edited single-line review comment.","assets":[],"created_at":"2026-08-23T15:28:06Z","updated_at":"2026-08-23T15:28:07Z"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 84.009083ms
[...]
    - id: 13
      request:
        host: 127.0.0.1:3000
        body: '{"state":"closed"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/10
        method: PATCH
      response:
            - chunked
        body: |
            {"id":10,"url":"https://codeberg.org/test-owner/test-repo/pulls/10","number":10,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","ema[...]
