---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:3011
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
            - chunked
        body: |
            {"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"git-spice integration test repository","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":23,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@localhost/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":1,"watchers_count":1,"open_issues_count":0,"open_pr_counter":0,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-08-22T20:40:18Z","updated_at":"2026-08-22T20:40:18Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"wiki_branch":"main","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":true,"has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":null}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 9.163ms
    - id: 1
      request:
        host: 127.0.0.1:3011
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 6.518416ms
    - id: 2
      request:
        host: 127.0.0.1:3011
        body: '{"title":"Testing review threads vUda0MVl","body":"Test change for review threads","head":"vUda0MVl","base":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls
        method: POST
      response:
            - chunked
        body: |
            {"id":1,"url":"https://codeberg.org/test-owner/test-repo/pulls/1","number":1,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"title":"Testing review threads vUda0MVl","body":"Test change for review threads","labels":[],"milestone":null,"assignee":null,"assignees":null,"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"review_comments":0,"additions":5,"deletions":0,"changed_files":1,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/1","diff_url":"https://codeberg.org/test-owner/test-repo/pulls/1.diff","patch_url":"https://codeberg.org/test-owner/test-repo/pulls/1.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":false,"base":{"label":"main","ref":"main","sha":"943c800ea6fcdfad298c0d145290ae2c07d0e0fe","repo_id":1,"repo":{"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"f[...]
    - id: 3
      request:
        host: 127.0.0.1:3011
        body: '{"event":"COMMENT","comments":[{"body":"Single-line review comment.","path":"review.go","new_position":3}]}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/1/reviews
        method: POST
      response:
        body: |
            {"id":1,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"team":null,"state":"COMMENT","body":"","commit_id":"ef11b525d30728f7cb54819de5d36b01480b00fc","stale":false,"official":false,"dismissed":false,"comments_count":1,"submitted_at":"2026-08-22T20:40:19Z","updated_at":"2026-08-22T20:40:19Z","html_url":"https://codeberg.org/test-owner/test-repo/pulls/1#issuecomment-3","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/1"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 71.920583ms
    - id: 4
      request:
        host: 127.0.0.1:3011
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/1/reviews/1/comments
        method: GET
      response:
        body: |
            [{"id":2,"body":"Single-line review comment.","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"resolver":null,"pull_request_review_id":1,"created_at":"2026-08-22T20:40:19Z","updated_at":"2026-08-22T20:40:19Z","path":"review.go","commit_id":"ef11b525d30728f7cb54819de5d36b01480b00fc","original_commit_id":"","diff_hunk":"@@ -0,0 +1,5 @@\n+package review\n+\n+func value() int {","position":3,"original_position":0,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/1#issuecomment-2","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/1"}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 9.824834ms
[...]
    - id: 6
      request:
        host: 127.0.0.1:3011
        form:
            limit:
                - "100"
            page:
                - "1"
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/1/reviews?limit=100&page=1
        method: GET
      response:
        body: |
            [{"id":1,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"team":null,"state":"COMMENT","body":"","commit_id":"ef11b525d30728f7cb54819de5d36b01480b00fc","stale":false,"official":false,"dismissed":false,"comments_count":2,"submitted_at":"2026-08-22T20:40:19Z","updated_at":"2026-08-22T20:40:19Z","html_url":"https://codeberg.org/test-owner/test-repo/pulls/1#issuecomment-3","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/1"}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 10.72625ms
[...]
    - id: 8
      request:
        host: 127.0.0.1:3011
        body: '{"body":"Edited single-line review comment."}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/comments/2
        method: PATCH
      response:
        body: |
            {"id":2,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/1#issuecomment-2","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/1","issue_url":"","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.localhost","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-22T20:40:17Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"original_author":"","original_author_id":0,"body":"Edited single-line review comment.","assets":[],"created_at":"2026-08-22T20:40:19Z","updated_at":"2026-08-22T20:40:20Z"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 44.786542ms
[...]
    - id: 11
      request:
        host: 127.0.0.1:3011
        body: '{"state":"closed"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls/1
        method: PATCH
      response:
            - chunked
        body: |
            {"id":1,"url":"https://codeberg.org/test-owner/test-repo/pulls/1","number":1,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":[...]
