---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing O2zaQfs0","description":"Test PR for comments","source":{"branch":{"name":"O2zaQfs0"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 121, "title": "Testing O2zaQfs0", "description": "Test PR for comments", "rendered": {"title": {"type": "rendered", "raw": "Testing O2zaQfs0", "markup": "markdown", "html": "<p>Testing O2zaQfs0</p>"}, "description": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-02-03T17:38:55.650557+00:00", "updated_on": "2026-02-03T17:38:56.075887+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "O2zaQfs0", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "ea9fb5cb0c29", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/ea9fb5cb0c29"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/ea9fb5cb0c29"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/121"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diff/test-owner/test-owner:ea9fb5cb0c29%0D5934bca3d15f?from_pullrequest_id=121&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diffstat/test-owner/test-owner:ea9fb5cb0c29%0D5934bca3d15f?from_pullrequest_id=121&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 916.119959ms
    - id: 1
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"HLkbtLhW9yKZHKRuGbu8NtSYCQYPSDiB"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments
        method: POST
      response:
        body: '{"id": 749262436, "created_on": "2026-02-03T17:38:56.529261+00:00", "updated_on": "2026-02-03T17:38:56.537533+00:00", "content": {"type": "rendered", "raw": "HLkbtLhW9yKZHKRuGbu8NtSYCQYPSDiB", "markup": "markdown", "html": "<p>HLkbtLhW9yKZHKRuGbu8NtSYCQYPSDiB</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "deleted": false, "pending": false, "type": "pullrequest_comment", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments/749262436"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/121/_/diff#comment-749262436"}}, "pullrequest": {"type": "pullrequest", "id": 121, "title": "Testing O2zaQfs0", "draft": false, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/121"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 550.517708ms
[...]
    - id: 11
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"dvZscRIKvKMkicr9umjp78rRiInskC8L"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments/749262436
        method: PUT
      response:
        body: '{"id": 749262436, "created_on": "2026-02-03T17:38:56.529261+00:00", "updated_on": "2026-02-03T17:39:01.246464+00:00", "content[...]
[...]
    - id: 13
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"should fail"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments/749262440
        method: PUT
      response:
        body: '{"type": "error", "error": {"message": "749262440"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 197.025917ms
    - id: 14
      request:
        host: api.bitbucket.org
        form:
            pagelen:
                - "100"
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/121/comments?pagelen=100
        method: GET
      response:
        body: '{"values": [{"id": 749262436, "created_on": "2026-02-03T17:38:56.529261+00:00", "updated_on": "2026-02-03T17:39:01.246464+00:00", "content": {"type": "rendered", "raw": "dvZscRIKvKMkicr9umjp78rRiInskC8L", "markup": "markdown", "html": "<p>dvZscRIKvKMkicr9umjp78rRiInskC8L</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-p[...]
