---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Open LMldw6Oi","description":"Open change","source":{"branch":{"name":"LMldw6Oi"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 85, "title": "Open LMldw6Oi", "description": "Open change", "rendered": {"title": {"type": "rendered", "raw": "Open LMldw6Oi", "markup": "markdown", "html": "<p>Open LMldw6Oi</p>"}, "description": {"type": "rendered", "raw": "Open change", "markup": "markdown", "html": "<p>Open change</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-30T12:51:55.346285+00:00", "updated_on": "2026-01-30T12:51:55.725968+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "LMldw6Oi", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "ea7214b58aa7", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/ea7214b58aa7"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/ea7214b58aa7"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/85"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diff/test-owner/test-owner:ea7214b58aa7%0D5934bca3d15f?from_pullrequest_id=85&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diffstat/test-owner/test-owner:ea7214b58aa7%0D5934bca3d15f?from_pullrequest_id=85&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/85/statuses"}}, "summary": {"type": "rendered", "raw": "Open change", "markup": "markdown", "html": "<p>Open change</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 893.582292ms
[...]
    - id: 3
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/86/approve
        method: POST
      response:
        body: Bad Request
        headers:
            Content-Type:
                - text/plain
        status: 400 Bad Request
        code: 400
        duration: 272.054542ms
    - id: 4
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/86/merge
        method: POST
      response:
        body: Bad Request
        headers:
            Content-Type:
                - text/plain
        status: 400 Bad Request
        code: 400
        duration: 96.3795ms
