---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        form:
            fields:
                - +values.reviewers
            pagelen:
                - "10"
            q:
                - source.branch.name="does-not-exist"
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests?q=source.branch.name%3D%22does-not-exist%22&pagelen=10&fields=%2Bvalues.reviewers
        method: GET
      response:
        body: '{"values": [], "pagelen": 10, "size": 0, "page": 1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 620.211041ms
