---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing Pz9kkrTX","description":"Test draft PR","source":{"branch":{"name":"Pz9kkrTX"}},"destination":{"branch":{"name":"main"}},"draft":true}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 96, "title": "Testing Pz9kkrTX", "description": "Test draft PR", "rendered": {"title": {"type": "rendered", "raw": "Testing Pz9kkrTX", "markup": "markdown", "html": "<p>Testing Pz9kkrTX</p>"}, "description": {"type": "rendered", "raw": "Test draft PR", "markup": "markdown", "html": "<p>Test draft PR</p>"}}, "state": "OPEN", "draft": true, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-30T13:09:53.768628+00:00", "updated_on": "2026-01-30T13:09:54.221795+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "Pz9kkrTX", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "917edd6552e4", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/917edd6552e4"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/917edd6552e4"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/96"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diff/test-owner/test-owner:917edd6552e4%0D5934bca3d15f?from_pullrequest_id=96&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diffstat/test-owner/test-owner:917edd6552e4%0D5934bca3d15f?from_pullrequest_id=96&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96/statuses"}}, "summary": {"type": "rendered", "raw": "Test draft PR", "markup": "markdown", "html": "<p>Test draft PR</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.014562625s
    - id: 1
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/96
        method: GET
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 96, "title": "Testing Pz9kkrTX", "description": "Test draft PR", "rendered": {"title": {"type": "rendered", "raw": "Testing Pz9kkrTX", "markup": "markd[...]
[...]
