---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing AmT9IRBe","description":"Test PR with non-existent base","source":{"branch":{"name":"AmT9IRBe"}},"destination":{"branch":{"name":"3iPbwGIS"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests
        method: POST
      response:
        body: '{"type": "error", "error": {"message": "destination: branch not found: 3iPbwGIS", "fields": {"destination": ["branch not found: 3iPbwGIS"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 204.555042ms
