---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/test-owner%2Ftest-repo
        method: GET
      response:
        body: '{"id":64779801,"description":null,"name":"test-repo","name_with_namespace":"Abhinav Gupta / test-repo","path":"test-repo","path_with_namespace":"test-owner/test-repo","created_at":"2024-11-23T16:35:46.252Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:test-owner/test-repo.git","http_url_to_repo":"https://gitlab.com/test-owner/test-repo.git","web_url":"https://gitlab.com/test-owner/test-repo","readme_url":null,"forks_count":1,"avatar_url":null,"star_count":0,"last_activity_at":"2026-06-15T03:09:45.893Z","visibility":"public","namespace":{"id":1117393,"name":"Abhinav Gupta","path":"test-owner","kind":"user","full_path":"test-owner","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"container_registry_image_prefix":"registry.gitlab.com/test-owner/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/64779801","merge_requests":"https://gitlab.com/api/v4/projects/64779801/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/64779801/repository/branches","labels":"https://gitlab.com/api/v4/projects/64779801/labels","events":"https://gitlab.com/api/v4/projects/64779801/events","members":"https://gitlab.com/api/v4/projects/64779801/members","cluster_agents":"https://gitlab.com/api/v4/projects/64779801/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":false,"empty_repo":false,"archived":false,"owner":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2024-11-24T16:35:46.274Z"},"repository_object_format":"sha1","issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":false,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"disabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"disabled","builds_access_level":"disabled","snippets_access_level":"disabled","pages_access_level":"disabled","analytics_access_level":"disabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"disabled","releases_access_level":"disabled","environments_access_level":"disabled","feature_flags_access_level":"disabled","infrastructure_access_level":"disabled","monitor_access_level":"disabled","model_experiments_access_level":"disabled","model_registry_access_level":"disabled","package_registry_access_level":"disabled","emails_disabled":true,"emails_enabled":false,"show_diff_preview_in_email":false,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":930270,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"description_html":"","updated_at":"2026-06-15T03:20:23.717Z","ci_default_git_depth":20,"ci_delete_pipelines_in_seconds":null,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"developer","runner_token_expiration_interval":null,"group_runners_enabled":true,"resource_group_default_process_mode":"unordered","auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"protect_merge_request_pipelines":false,"ci_display_pipeline_variables":false,"runners_token":"GR1348941cpXSMHzfUhGHayaS5Bxv","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"ff","squash_option":"default_on","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":"","merge_commit_template":null,"squash_commit_template":null,"mr_default_title_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"web_based_commit_signing_enabled":false,"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 242.616459ms
    - id: 1
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner","created_at":"2017-01-07T03:40:46.795Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"https://abhinavg.net","github":"","job_title":"","pronouns":"","organization":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2026-03-12T18:51:34.248Z","confirmed_at":"2021-10-19T01:30:11.688Z","last_activity_on":"2026-06-15","email":"mail@abhinavg.net","theme_id":3,"color_scheme_id":2,"projects_limit":100000,"current_sign_in_at":"2026-05-02T20:37:39.186Z","identities":[{"provider":"github","extern_uid":"41730","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"mail@abhinavg.net","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.4255ms
    - id: 2
      request:
        host: gitlab.com
        body: '{"title":"Checks aZ2Rcc8V","description":"Checks state test","source_branch":"aZ2Rcc8V","target_branch":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests
        method: POST
      response:
        body: '{"id":495818604,"iid":73,"project_id":64779801,"title":"Checks aZ2Rcc8V","description":"Checks state test","state":"opened","created_at":"2026-06-15T03:20:41.650Z","updated_at":"2026-06-15T03:20:41.650Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"aZ2Rcc8V","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":64779801,"target_project_id":64779801,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","merge_after":null,"sha":"974751dfa9a615f6a059a07f246ea9908a2fa4cd","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":null,"reference":"!73","references":{"short":"!73","relative":"!73","full":"test-owner/test-repo!73"},"web_url":"https://gitlab.com/test-owner/test-repo/-/merge_requests/73","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":true,"squash_on_merge":true,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 483.570584ms
    - id: 3
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/73
        method: GET
      response:
        body: '{"id":495818604,"iid":73,"project_id":64779801,"title":"Checks aZ2Rcc8V","description":"Checks state test","state":"opened","created_at":"2026-06-15T03:20:41.650Z","updated_at":"2026-06-15T03:20:41.650Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch"[...]
    - id: 4
      request:
        host: gitlab.com
        body: '{"state":"failed","name":"git-spice integration failed","description":"Synthetic status for git-spice integration tests","ref":"aZ2Rcc8V"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/statuses/974751dfa9a615f6a059a07f246ea9908a2fa4cd
        method: POST
      response:
        body: '{"id":14849949202,"sha":"974751dfa9a615f6a059a07f246ea9908a2fa4cd","ref":"aZ2Rcc8V","status":"failed","name":"git-spice integration failed","target_url":null,"description":"Synthetic status for git-spice integration tests","created_at":"2026-06-15T03:20:42.431Z","started_at":null,"finished_at":"2026-06-15T03:20:42.428Z","allow_failure":false,"coverage":null,"pipeline_id":2600883128,"author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 454.6775ms
[...]
    - id: 6
      request:
        host: gitlab.com
        form:
            per_page:
                - "100"
            ref:
                - aZ2Rcc8V
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/repository/commits/974751dfa9a615f6a059a07f246ea9908a2fa4cd/statuses?per_page=100&ref=aZ2Rcc8V
        method: GET
      response:
        body: '[{"id":14849949202,"sha":"974751dfa9a615f6a059a07f246ea9908a2fa4cd","ref":"aZ2Rcc8V","status":"failed","name":"git-spice integration failed","target_url":null,"description":"Synthetic status for git-spice integration tests","created_at":"2026-06-15T03:20:42.431Z","started_at":null,"finished_at":"2026-06-15T03:20:42.428Z","allow_failure":false,"coverage":null,"pipeline_id":2600883128,"author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"}}]'
        headers:
            Content-Type:
                - application/json
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 189.409666ms
