---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
            - chunked
        body: |
            {"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-06-24T04:18:59Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"git-spice integration test repository","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":23,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@localhost/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":1,"watchers_count":1,"open_issues_count":0,"open_pr_counter":0,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-06-24T04:19:01Z","updated_at":"2026-06-24T04:19:01Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"wiki_branch":"main","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":true,"has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":null}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 6.272875ms
    - id: 1
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-06-24T04:18:59Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 5.549417ms
    - id: 2
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/PULL_REQUEST_TEMPLATE.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: PULL_REQUEST_TEMPLATE.md]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 9.52175ms
    - id: 3
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/pull_request_template.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: pull_request_template.md]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 9.408708ms
    - id: 4
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo%2FPULL_REQUEST_TEMPLATE
        method: GET
      response:
            - chunked
        body: |
            [{"name":"DVdjcZ7A.md","path":".forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md","sha":"a9130f91a8118af0090124b90c12847a86b887c1","last_commit_sha":"38c09403a506514a92fd71d2cf98d2f4de645dd0","type":"file","size":24,"encoding":null,"content":null,"target":null,"url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md?ref=main","html_url":"https://codeberg.org/test-owner/test-repo/src/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md","git_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/git/blobs/a9130f91a8118af0090124b90c12847a86b887c1","download_url":"https://codeberg.org/test-owner/test-repo/raw/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md","submodule_git_url":null,"_links":{"self":"https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md?ref=main","git":"https://codeberg.org/api/v1/repos/test-owner/test-repo/git/blobs/a9130f91a8118af0090124b90c12847a86b887c1","html":"https://codeberg.org/test-owner/test-repo/src/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md"}},{"name":"XjcVgQce.md","path":".forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","last_commit_sha":"38c09403a506514a92fd71d2cf98d2f4de645dd0","type":"file","size":0,"encoding":null,"content":null,"target":null,"url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md?ref=main","html_url":"https://codeberg.org/test-owner/test-repo/src/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md","git_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","download_url":"https://codeberg.org/test-owner/test-repo/raw/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md","submodule_git_url":null,"_links":{"self":"https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md?ref=main","git":"https://codeberg.org/api/v1/repos/test-owner/test-repo/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","html":"https://codeberg.org/test-owner/test-repo/src/branch/main/.forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md"}}]
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 16.220291ms
    - id: 5
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo%2FPULL_REQUEST_TEMPLATE%2FDVdjcZ7A.md
        method: GET
      response:
        body: |
            {"name":"DVdjcZ7A.md","path":".forgejo/PULL_REQUEST_TEMPLATE/DVdjcZ7A.md","sha":"a9130f91a8118af0090124b90c12847a86b887c1","last_commit_sha":"38c09403a506514a92fd71d2cf98d2f4de645dd0","type":"file","size":24,"encoding":"base64","content":"[...]
    - id: 6
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo%2FPULL_REQUEST_TEMPLATE%2FXjcVgQce.md
        method: GET
      response:
        body: |
            {"name":"XjcVgQce.md","path":".forgejo/PULL_REQUEST_TEMPLATE/XjcVgQce.md","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","last_commit_sha":"38c09403a506514a92fd71d2cf98d2f4de645dd0","type":"file","size":0,"encoding":"base64","content":""[...]
    - id: 7
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo%2FPULL_REQUEST_TEMPLATE.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: .forgejo/PULL_REQUEST_TEMPLATE.md]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 8.480875ms
    - id: 8
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.forgejo%2Fpull_request_template.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: .forgejo/pull_request_template.md]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 9.150083ms
    - id: 9
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.gitea%2FPULL_REQUEST_TEMPLATE
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: .gitea]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 9.017125ms
    - id: 10
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.gitea%2FPULL_REQUEST_TEMPLATE.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: .gitea]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 8.284667ms
    - id: 11
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/contents/.gitea%2Fpull_request_template.md
        method: GET
      response:
        body: |
            {"message":"GetContentsOrList","url":"https://codeberg.org/api/swagger","errors":["object does not exist [id: , rel_path: .gitea]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 9.081959ms
