---
version: 2
interactions:
    - id: 0
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo
        method: GET
      response:
            - chunked
        body: |
            {"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"name":"test-repo","full_name":"test-owner/test-repo","description":"git-spice integration test repository","empty":false,"private":false,"fork":false,"template":false,"parent":null,"mirror":false,"size":33,"language":"","languages_url":"https://codeberg.org/api/v1/repos/test-owner/test-repo/languages","html_url":"https://codeberg.org/test-owner/test-repo","url":"https://codeberg.org/api/v1/repos/test-owner/test-repo","link":"","ssh_url":"ssh://git@localhost/test-owner/test-repo.git","clone_url":"https://codeberg.org/test-owner/test-repo.git","original_url":"","website":"","stars_count":0,"forks_count":1,"watchers_count":1,"open_issues_count":0,"open_pr_counter":3,"release_counter":0,"default_branch":"main","archived":false,"created_at":"2026-08-01T22:27:54Z","updated_at":"2026-08-01T22:28:01Z","archived_at":"1970-01-01T00:00:00Z","permissions":{"admin":true,"push":true,"pull":true},"has_issues":true,"internal_tracker":{"enable_time_tracker":true,"allow_only_contributors_to_track_time":true,"enable_issue_dependencies":true},"has_wiki":true,"wiki_branch":"main","globally_editable_wiki":false,"has_pull_requests":true,"has_projects":true,"has_releases":true,"has_packages":true,"has_actions":true,"ignore_whitespace_conflicts":false,"allow_merge_commits":true,"allow_rebase":true,"allow_rebase_explicit":true,"allow_squash_merge":true,"allow_fast_forward_only_merge":true,"allow_rebase_update":true,"default_delete_branch_after_merge":false,"default_merge_style":"merge","default_allow_maintainer_edit":false,"default_update_style":"merge","avatar_url":"","internal":false,"mirror_interval":"","object_format_name":"sha1","mirror_updated":"0001-01-01T00:00:00Z","repo_transfer":null,"topics":null}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 86.939875ms
    - id: 1
      request:
        host: 127.0.0.1:3000
        headers:
        url: https://codeberg.org/api/v1/user
        method: GET
      response:
        body: |
            {"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 495.153125ms
    - id: 2
      request:
        host: 127.0.0.1:3000
        body: '{"title":"Testing 4DdOAWO4","body":"Test PR for comments","head":"4DdOAWO4","base":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/pulls
        method: POST
      response:
            - chunked
        body: |
            {"id":10,"url":"https://codeberg.org/test-owner/test-repo/pulls/10","number":10,"user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":true,"last_login":"1970-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":true,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"title":"Testing 4DdOAWO4","body":"Test PR for comments","labels":[],"milestone":null,"assignee":null,"assignees":null,"requested_reviewers":[],"requested_reviewers_teams":[],"state":"open","draft":false,"is_locked":false,"comments":0,"review_comments":0,"additions":1,"deletions":0,"changed_files":1,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10","diff_url":"https://codeberg.org/test-owner/test-repo/pulls/10.diff","patch_url":"https://codeberg.org/test-owner/test-repo/pulls/10.patch","mergeable":true,"merged":false,"merged_at":null,"merge_commit_sha":null,"merged_by":null,"allow_maintainer_edit":false,"base":{"label":"main","ref":"main","sha":"049cc332fc28cb0586e53d650bd31f05edb3574f","repo_id":1,"repo":{"id":1,"owner":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"owner@test.example","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"f[...]
    - id: 3
      request:
        host: 127.0.0.1:3000
        body: '{"body":"aSg3xrgFKPEal48bhwlcMLUiKisofZul"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/10/comments
        method: POST
      response:
        body: |
            {"id":30,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-30","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10","issue_url":"","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.localhost","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"original_author":"","original_author_id":0,"body":"aSg3xrgFKPEal48bhwlcMLUiKisofZul","assets":[],"created_at":"2026-08-01T22:28:04Z","updated_at":"2026-08-01T22:28:04Z"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.066554083s
[...]
    - id: 13
      request:
        host: 127.0.0.1:3000
        body: '{"body":"Z6F3uFORVnhoyDQm2LjMAKPh0F7Dg7Pb"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/comments/30
        method: PATCH
      response:
        body: |
            {"id":30,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-30","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10","issue_url":"","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-owner@noreply.localhost","avatar_url":"https://codeberg.org/avatars/36860231b886b0334428e81f0084a86a","html_url":"https://codeberg.org/test-owner","language":"","is_admin":false,"last_login":"0001-01-01T00:00:00Z","created":"2026-08-01T22:27:52Z","restricted":false,"active":false,"prohibit_login":false,"location":"","pronouns":"","website":"","description":"","visibility":"public","followers_count":0,"following_count":0,"starred_repos_count":0,"username":"test-owner"},"original_author":"","original_author_id":0,"body":"Z6F3uFORVnhoyDQm2LjMAKPh0F7Dg7Pb","assets":[],"created_at":"2026-08-01T22:28:04Z","updated_at":"2026-08-01T22:28:07Z"}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 275.72225ms
[...]
    - id: 15
      request:
        host: 127.0.0.1:3000
        body: '{"body":"should fail"}'
        headers:
            Content-Type:
                - application/json
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/comments/33
        method: PATCH
      response:
        body: |
            {"message":"The target couldn't be found.","url":"https://codeberg.org/api/swagger","errors":["comment does not exist [id: 33, issue_id: 0]"]}
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 48.550209ms
    - id: 16
      request:
        host: 127.0.0.1:3000
        form:
            limit:
                - "3"
            page:
                - "1"
        headers:
        url: https://codeberg.org/api/v1/repos/test-owner/test-repo/issues/10/comments?limit=3&page=1
        method: GET
      response:
            - chunked
        body: |
            [{"id":30,"html_url":"https://codeberg.org/test-owner/test-repo/pulls/10#issuecomment-30","pull_request_url":"https://codeberg.org/test-owner/test-repo/pulls/10","issue_url":"","user":{"id":1,"login":"test-owner","login_name":"","source_id":0,"full_name":"","email":"test-[...]
[...]
