---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/test-owner%2Ftest-repo
        method: GET
      response:
        body: '{"id":64779801,"description":null,"name":"test-repo","name_with_namespace":"Abhinav Gupta / test-repo","path":"test-repo","path_with_namespace":"test-owner/test-repo","created_at":"2024-11-23T16:35:46.252Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:test-owner/test-repo.git","http_url_to_repo":"https://gitlab.com/test-owner/test-repo.git","web_url":"https://gitlab.com/test-owner/test-repo","readme_url":null,"forks_count":1,"avatar_url":null,"star_count":0,"last_activity_at":"2026-08-23T15:45:13.264Z","visibility":"public","namespace":{"id":1117393,"name":"Abhinav Gupta","path":"test-owner","kind":"user","full_path":"test-owner","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"container_registry_image_prefix":"registry.gitlab.com/test-owner/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/64779801","merge_requests":"https://gitlab.com/api/v4/projects/64779801/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/64779801/repository/branches","labels":"https://gitlab.com/api/v4/projects/64779801/labels","events":"https://gitlab.com/api/v4/projects/64779801/events","members":"https://gitlab.com/api/v4/projects/64779801/members","cluster_agents":"https://gitlab.com/api/v4/projects/64779801/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":false,"empty_repo":false,"archived":false,"owner":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2024-11-24T16:35:46.274Z"},"repository_object_format":"sha1","issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":false,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"disabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"disabled","builds_access_level":"disabled","snippets_access_level":"disabled","pages_access_level":"disabled","analytics_access_level":"disabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"disabled","releases_access_level":"disabled","environments_access_level":"disabled","feature_flags_access_level":"disabled","infrastructure_access_level":"disabled","monitor_access_level":"disabled","model_experiments_access_level":"disabled","model_registry_access_level":"disabled","package_registry_access_level":"disabled","emails_disabled":true,"emails_enabled":false,"show_diff_preview_in_email":false,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":930270,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"description_html":"","updated_at":"2026-08-23T15:45:13.264Z","ci_default_git_depth":20,"ci_delete_pipelines_in_seconds":null,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"developer","runner_token_expiration_interval":null,"group_runners_enabled":true,"resource_group_default_process_mode":"unordered","auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"protect_merge_request_pipelines":false,"ci_display_pipeline_variables":false,"runners_token":"GR1348941cpXSMHzfUhGHayaS5Bxv","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"ff","squash_option":"default_on","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":"","merge_commit_template":null,"squash_commit_template":null,"mr_default_title_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"web_based_commit_signing_enabled":false,"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null},"cicd_catalog_enabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.637916ms
    - id: 1
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner","created_at":"2017-01-07T03:40:46.795Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"https://abhinavg.net","github":"","job_title":"","pronouns":"","organization":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2026-05-02T20:37:39.186Z","confirmed_at":"2021-10-19T01:30:11.688Z","last_activity_on":"2026-08-23","email":"mail@abhinavg.net","theme_id":3,"color_scheme_id":2,"projects_limit":100000,"current_sign_in_at":"2026-08-23T00:53:54.675Z","identities":[{"provider":"github","extern_uid":"41730","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"mail@abhinavg.net","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 249.405667ms
    - id: 2
      request:
        host: gitlab.com
        body: '{"title":"Testing file review thread Pupbr6zL","description":"Test change for a file-level review thread","source_branch":"Pupbr6zL","target_branch":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests
        method: POST
      response:
        body: '{"id":522742309,"iid":94,"project_id":64779801,"title":"Testing file review thread Pupbr6zL","description":"Test change for a file-level review thread","state":"opened","created_at":"2026-08-23T15:45:47.142Z","updated_at":"2026-08-23T15:45:47.142Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"Pupbr6zL","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":64779801,"target_project_id":64779801,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","merge_after":null,"sha":"cdf7d16873f0190e348bb91704bf096261bcf59d","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":null,"reference":"!94","references":{"short":"!94","relative":"!94","full":"test-owner/test-repo!94"},"web_url":"https://gitlab.com/test-owner/test-repo/-/merge_requests/94","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":true,"squash_on_merge":true,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 526.186583ms
    - id: 3
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/94
        method: GET
      response:
        body: '{"id":522742309,"iid":94,"project_id":64779801,"title":"Testing file review thread Pupbr6zL","description":"Test change for a file-level review thread","state":"opened","created_at":"2026-08-23T15:45:47.142Z","updated_at":"2026-08-23T15:45:47.987Z","merged_by":null,"merge_user":null,"merged_at":null,"clo[...]
    - id: 4
      request:
        host: gitlab.com
        body: '{"body":"File-level review comment.","position":{"base_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","head_sha":"cdf7d16873f0190e348bb91704bf096261bcf59d","start_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","position_type":"file","new_path":"review.go","old_path":"review.go"}}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/94/discussions
        method: POST
      response:
        body: '{"id":"0327beae48843549cad05d708731186fc6a57ca8","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3721752296,"type":"DiffNote","body":"File-level review comment.","author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"created_at":"2026-08-23T15:45:53.037Z","updated_at":"2026-08-23T15:45:53.037Z","system":false,"noteable_id":522742309,"noteable_type":"MergeRequest","project_id":64779801,"commit_id":null,"position":{"base_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","start_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","head_sha":"cdf7d16873f0190e348bb91704bf096261bcf59d","old_path":"review.go","new_path":"review.go","position_type":"file"},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":94,"commands_changes":{}}]}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 523.082625ms
    - id: 5
      request:
        host: gitlab.com
        form:
            per_page:
                - "100"
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/94/discussions?per_page=100
        method: GET
      response:
        body: '[{"id":"0327beae48843549cad05d708731186fc6a57ca8","individual_note":false,"resolvable":true,"resolved":false,"notes":[{"id":3721752296,"type":"DiffNote","body":"File-level review comment.","author":{"id":930270,"username":"test-owner","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"created_at":"2026-08-23T15:45:53.037Z","updated_at":"2026-08-23T15:45:53.037Z","system":false,"noteable_id":522742309,"noteable_type":"MergeRequest","project_id":64779801,"commit_id":null,"position":{"base_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","start_sha":"027a92ee885af88f36b90ec20ea933dcd3f444c6","head_sha":"cdf7d16873f0190e348bb91704bf096261bcf59d","old_path":"review.go","new_path":"review.go","position_type":"file"},"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"suggestions":[],"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":94,"commands_changes":{}}]}]'
        headers:
            Content-Type:
                - application/json
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 385.618083ms
    - id: 6
      request:
        host: gitlab.com
        body: '{"state_event":"close"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/94
        method: PUT
      response:
        body: '{"id":522742309,"iid":94,"project_id":64779801,"title":"Testing file review thread Pupbr6zL","description":"Test change for a file-level review thread","state":"closed","created_at":"2026-08-23T15:45:47.142Z","updated_at":"2026-08-23T15:45:54.049Z","merged_by":null,"merge_user":null,"m[...]
