---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDOMVd0xs51N_9r","body":"ZkUrkZLWO3uKM2TgGJ2NcMfrOlFA7OVB"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDOMVd0xs6JmHiA","url":"https://github.com/abhinav/test-repo/pull/4#issuecomment-2308470912"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 547.303708ms
[...]
    - id: 10
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDOMVd0xs51N_9r"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOiZh4iw==","hasNextPage":true},"nodes":[{"id":"IC_kwDOMVd0xs6JmHiA","body":"ZkUrkZLWO3uKM2TgGJ2NcMfrOlFA7OVB","url":"https://github.com/abhinav/test-repo/pull/4#issuecomment-2308470912","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2024-08-24T17:48:30Z","updatedAt":"2024-08-24T17:48:30Z"},{"id":"IC_kwDOMVd0xs6JmHiI","body":"vMbR8bxMxIdgRkXA9enkJyxka7tRgUR2","url":"https://github.com/abhinav/test-repo/pull/4#issuecomment-2308470920","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2024-08-24T17:48:31Z","updatedAt":"2024-08-24T17:48:31Z"},{"id":"IC_kwDOMVd0xs6JmHiL","body":"zv8M2Z1w4Ne5i1t1g0b1CiyKz03Fv9pJ","url":"https://github.com/abhinav/test-repo/pull/4#issuecomment-2308470923","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2024-08-24T17:48:31Z","updatedAt":"2024-08-24T17:48:31Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 286.806667ms
[...]
    - id: 14
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteIssueCommentInput!){deleteIssueComment(input: $input){clientMutationId}}","variables":{"input":{"id":"IC_kwDOMVd0xs6JmHiA"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteIssueComment":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 448.304042ms
[...]
