---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"baseRefName\":\"main\",\"headRefName\":\"wGXqQzcL\",\"title\":\"wGXqQzcL\",\"body\":\"Test PR without assignees\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createPullRequest\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs62J5qF\",\"number\":29,\"url\":\"https://github.com/abhinav/test-repo/pull/29\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1.112183375s
[...]
- id: 2
  request:
    host: api.github.com
    body: "{\"query\":\"query($login:String!){user(login: $login){id}}\",\"variables\":{\"login\":\"abhinav-robot\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"user\":{\"id\":\"U_kgDOCzNVWQ\"}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 275.551458ms
- id: 3
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:AddAssigneesToAssignableInput!){addAssigneesToAssignable(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"assignableId\":\"PR_kwDOMVd0xs62J5qO\",\"assigneeIds\":[\"U_kgDOCzNVWQ\"]}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"addAssigneesToAssignable\":{\"clientMutationId\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 752.591917ms
- id: 4
  request:
    host: api.github.com
    body: "{\"query\":\"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}\",\"variables\":{\"number\":29,\"owner\":\"abhinav\",\"repo\":\"test-repo\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs62J5qF\",\"number\":29,\"url\":\"https://github.com/abhinav/test-repo/pull/29\",\"title\":\"wGXqQzcL\",\"state\":\"OPEN\",\"headRefOid\":\"afbc9f52aa456ecddc669e303c7986cc28822815\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[]},\"reviewRequests\":{\"nodes\":[]},\"assignees\":{\"nodes\":[]}}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 291.6925ms
[...]
