---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"baseRefName\":\"main\",\"headRefName\":\"y5fu0195\",\"title\":\"y5fu0195\",\"body\":\"Test PR\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createPullRequest\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs617jPw\",\"number\":7,\"url\":\"https://github.com/abhinav/test-repo/pull/7\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1.113632167s
- id: 1
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"pullRequestId\":\"PR_kwDOMVd0xs617jPw\",\"baseRefName\":\"B6vvtSlB\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"updatePullRequest\":{\"clientMutationId\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 946.855083ms
- id: 2
  request:
    host: api.github.com
    body: "{\"query\":\"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}}}}}\",\"variables\":{\"number\":7,\"owner\":\"abhinav\",\"repo\":\"test-repo\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs617jPw\",\"number\":7,\"url\":\"https://github.com/abhinav/test-repo/pull/7\",\"title\":\"y5fu0195\",\"state\":\"OPEN\",\"headRefOid\":\"468debca6d9eab1f406896923cf74b24bffa5e75\",\"baseRefName\":\"B6vvtSlB\",\"isDraft\":false,\"labels\":{\"nodes\":[]}}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 409.203ms
[...]
- id: 4
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:ConvertPullRequestToDraftInput!){convertPullRequestToDraft(input: $input){pullRequest{id}}}\",\"variables\":{\"input\":{\"pullRequestId\":\"PR_kwDOMVd0xs617jPw\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"convertPullRequestToDraft\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs617jPw\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 504.396041ms
[...]
- id: 6
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:MarkPullRequestReadyForReviewInput!){markPullRequestReadyForReview(input: $input){pullRequest{id}}}\",\"variables\":{\"input\":{\"pullRequestId\":\"PR_kwDOMVd0xs617jPw\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"markPullRequestReadyForReview\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs617jPw\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1.023551125s
