---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($branch:String!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequests(first: 10, states: OPEN, headRefName: $branch){nodes{id,number,url,title,headRefOid,baseRefName,isDraft}}}}","variables":{"branch":"gh-graphql","owner":"abhinav","repo":"git-spice"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequests":{"nodes":[{"id":"PR_kwDOJ2BQKs5xNeqO","number":144,"url":"https://github.com/abhinav/git-spice/pull/144","title":"WIP: GitHub: Use GraphQL API","headRefOid":"02195c2a399642a5f66ac9c65f57c7c97b1a7a6c","baseRefName":"main","isDraft":false}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 220.78625ms
[...]
