---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"baseRefName\":\"main\",\"headRefName\":\"wM4FFhyP\",\"title\":\"wM4FFhyP\",\"body\":\"Test PR with labels\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createPullRequest\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs62J5kl\",\"number\":26,\"url\":\"https://github.com/abhinav/test-repo/pull/26\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 957.111625ms
- id: 1
  request:
    host: api.github.com
    body: "{\"query\":\"query($label:String!$name:String!$owner:String!){repository(owner: $owner, name: $name){label(name: $label){id}}}\",\"variables\":{\"label\":\"O4Le0gYV\",\"name\":\"test-repo\",\"owner\":\"abhinav\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"label\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 237.938459ms
[...]
- id: 3
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreateLabelInput!){createLabel(input: $input){label{id}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"color\":\"EDEDED\",\"name\":\"9ce88Fjf\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createLabel\":{\"label\":{\"id\":\"LA_kwDOMVd0xs8AAAACRJ-tgQ\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 352.845ms
[...]
- id: 5
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:AddLabelsToLabelableInput!){addLabelsToLabelable(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"labelableId\":\"PR_kwDOMVd0xs62J5kl\",\"labelIds\":[\"LA_kwDOMVd0xs8AAAACRJ-thA\",\"LA_kwDOMVd0xs8AAAACRJ-tgQ\"]}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"addLabelsToLabelable\":{\"clientMutationId\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 787.813667ms
- id: 6
  request:
    host: api.github.com
    body: "{\"query\":\"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}\",\"variables\":{\"number\":26,\"owner\":\"abhinav\",\"repo\":\"test-repo\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs62J5kl\",\"number\":26,\"url\":\"https://github.com/abhinav/test-repo/pull/26\",\"title\":\"wM4FFhyP\",\"state\":\"OPEN\",\"headRefOid\":\"5b6b9dfe4526f7dfbb98bc9f68a4143b3df2ee6e\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[{\"name\":\"9ce88Fjf\"},{\"name\":\"O4Le0gYV\"}]},\"reviewRequests\":{\"nodes\":[]},\"assignees\":{\"nodes\":[]}}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 305.513958ms
- id: 7
  request:
    host: api.github.com
    body: "{\"query\":\"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}}\",\"variables\":{\"branch\":\"wM4FFhyP\",\"limit\":10,\"owner\":\"abhinav\",\"repo\":\"test-repo\",\"states\":[\"OPEN\",\"CLOSED\",\"MERGED\"]}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequests\":{\"nodes\":[{\"id\":\"PR_kwDOMVd0xs62J5kl\",\"number\":26,\"url\":\"https://github.com/abhinav/test-repo/pull/26\",\"title\":\"wM4FFhyP\",\"state\":\"OPEN\",\"headRefOid\":\"5b6b9dfe4526f7dfbb98bc9f68a4143b3df2ee6e\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[{\"name\":\"9ce88Fjf\"},{\"name\":\"O4Le0gYV\"}]},\"reviewRequests\":{\"nodes\":[]},\"assignees\":{\"nodes\":[]}}]}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 306.049042ms
- id: 8
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:DeleteLabelInput!){deleteLabel(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"id\":\"O4Le0gYV\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"deleteLabel\":null},\"errors\":[{\"type\":\"NOT_FOUND\",\"path\":[\"deleteLabel\"],\"locations\":[{\"line\":1,\"column\":36}],\"message\":\"Could not resolve to a node with the global id of 'O4Le0gYV'\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 193.504583ms
[...]
