---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 263.586958ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"stack-merged-bottom-5nHARMp1","title":"Native stack merged-member bottom stack-merged-bottom-5nHARMp1","body":"Native stack merged-member integration test"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAvuKFw","number":202,"url":"https://github.com/test-owner/test-repo/pull/202"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.117561709s
[...]
    - id: 4
      request:
        host: api.github.com
        url: https://api.github.com/repos/test-owner/test-repo/stacks
        method: GET
      response:
        body: '[{"id":560657,"number":201,"node_id":"PRS_kwDOMVd0xs4ACI4R","url":"https://api.github.com/repos/test-owner/test-repo/stacks/201","base":{"ref":"main"},"open":false,"created_at":"2026-08-24T02:36:33Z","pull_requests":[{"number":198,"state":"closed","draft":false,"merged_at":null,"head":{"ref":"stack-merged-bottom-dLKjmtVW","sha":"07b6e8cb44f5e5d13cd8a029a83bea789909d247"}},{"number":200,"state":"closed","draft":false,"merged_at":null,"head":{"ref":"stack-merged-top-fqg9w5za","sha":"3ef6501dce36b8774c06c95b0fbc46418ede856c"}}]},{"id":560655,"number":197,"node_id":"PRS_kwDOMVd0xs4ACI4P","url":"https://api.github.com/repos/test-owner/test-repo/stacks/197","base":{"ref":"main"},"open":false,"created_at":"2026-08-24T02:36:15Z","pull_requests":[{"number":193,"state":"closed","draft":false,"merged_at":null,"head":{"ref":"stack[...]
    - id: 5
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!,$repo:String!,$pr0:Int!,$pr1:Int!){repository(owner: $owner, name: $repo){pr0:pullRequest(number: $pr0){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr1:pullRequest(number: $pr1){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}}}}","variables":{"owner":"test-owner","pr0":202,"pr1":204,"repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pr0":{"id":"PR_kwDOMVd0xs8AAAABAvuKFw","state":"OPEN","headRefName":"stack-merged-bottom-5nHARMp1","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null},"pr1":{"id":"PR_kwDOMVd0xs8AAAABAvuKow","state":"OPEN","headRefName":"stack-merged-top-Bubo7AXB","baseRefName":"stack-merged-bottom-5nHARMp1","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 271.415292ms
    - id: 6
      request:
        host: api.github.com
        body: |
            {"pull_requests":[202,204]}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/stacks
        method: POST
      response:
        body: '{"id":560920,"number":205,"node_id":"PRS_kwDOMVd0xs4ACI8Y","url":"https://api.github.com/repos/test-owner/test-repo/stacks/205","base":{"ref":"main"},"open":true,"created_at":"2026-08-24T03:01:58Z","pull_requests":[{"url":"https://api.github.com/repos/test-owner/test-repo/pulls/202","id":4345006615,"number":202,"head":{"ref":"stack-merged-bottom-5nHARMp1","sha":"fc61323edd0740e8026c2745083f77a644ab668e","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"base":{"ref":"main","sha":"64adfb2f4b54a69373ea283c80837cc220eb94ba","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"node_id":"PR_kwDOMVd0xs8AAAABAvuKFw","title":"Native stack merged-member bottom stack-merged-bottom-5nHARMp1","state":"open","merged_at":null,"draft":false,"html_url":"https://github.com/test-owner/test-repo/pull/202","user":{"login":"test-owner","id":41730,"node_id":"MDQ6VXNlcjQxNzMw","avatar_url":"https://avatars.githubusercontent.com/u/41730?v=4","gravatar_id":"","url":"https://api.github.com/users/test-owner","html_url":"https://github.com/test-owner","followers_url":"https://api.github.com/users/test-owner/followers","following_url":"https://api.github.com/users/test-owner/following{/other_user}","gists_url":"https://api.github.com/users/test-owner/gists{/gist_id}","starred_url":"https://api.github.com/users/test-owner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-owner/subscriptions","organizations_url":"https://api.github.com/users/test-owner/orgs","repos_url":"https://api.github.com/users/test-owner/repos","events_url":"https://api.github.com/users/test-owner/events{/privacy}","received_events_url":"https://api.github.com/users/test-owner/received_events","type":"User","user_view_type":"public","site_admin":false}},{"url":"https://api.github.com/repos/test-owner/test-repo/pulls/204","id":4345006755,"number":204,"head":{"ref":"stack-merged-top-Bubo7AXB","sha":"e5d10f885f53524b4714f90981d9f74209c40100","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"base":{"ref":"stack-merged-bottom-5nHARMp1","sha":"fc61323edd0740e8026c2745083f77a644ab668e","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"node[...]
    - id: 7
      request:
        host: api.github.com
        body: |
            {"merge_method":"squash","merge_action":"default"}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/pulls/202/merge-async
        method: PUT
      response:
        body: '{"status":"pending","details":{"message":"Merge request enqueued.","uuid":"be3ffd73-5436-4c0f-b6c3-5413ddac44df","merge_method":"squash","merge_action":"default","expected_head_sha":"fc61323edd0740e8026c2745083f77a644ab668e"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 228.392083ms
    - id: 8
      request:
        host: api.github.com
        body: '{"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":202,"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAvuKFw","number":202,"url":"https://github.com/test-owner/test-repo/pull/202","title":"Native stack merged-member bottom stack-merged-bottom-5nHARMp1","state":"MERGED","headRefOid":"fc61323edd0740e8026c2745083f77a644ab668e","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 267.005375ms
[...]
    - id: 10
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!,$repo:String!,$pr0:Int!,$pr1:Int!,$pr2:Int!){repository(owner: $owner, name: $repo){pr0:pullRequest(number: $pr0){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr1:pullRequest(number: $pr1){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr2:pullRequest(number: $pr2){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}}}}","variables":{"owner":"test-owner","pr0":202,"pr1":203,"pr2":204,"repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pr0":{"id":"PR_kwDOMVd0xs8AAAABAvuKFw","state":"MERGED","headRefName":"stack-merged-bottom-5nHARMp1","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":{"id":"PRS_kwDOMVd0xs4ACI8Y"}},"pr1":{"id":"PR_kwDOMVd0xs8AAAABAvuKWg","state":"OPEN","headRefName":"stack-merged-inserted-aX9bGOqd","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null},"pr2":{"id":"PR_kwDOMVd0xs8AAAABAvuKow","state":"OPEN","headRefName":"stack-merged-top-Bubo7AXB","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":{"id":"PRS_kwDOMVd0xs4ACI8Y"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 283.38425ms
    - id: 11
      request:
        host: api.github.com
        body: '{"query":"query($ids:[ID!]!){nodes(ids: $ids){... on PullRequestStack{id,number,entries(first: 100){nodes{pullRequest{number,state,mergeQueueEntry{id},autoMergeRequest{enabledAt}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"ids":["PRS_kwDOMVd0xs4ACI8Y"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"nodes":[{"id":"PRS_kwDOMVd0xs4ACI8Y","number":205,"entries":{"nodes":[{"pullRequest":{"number":202,"state":"MERGED","mergeQueueEntry":null,"autoMergeRequest":null}},{"pullRequest":{"number":204,"state":"OPEN","mergeQueueEntry":null,"autoMergeRequest":null}}],"pageInfo":{"endCursor":"Mg","hasNextPage":false}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 303.385916ms
[...]
    - id: 14
      request:
        host: api.github.com
        body: '{"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAvuKow","state":"CLOSED"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAvuKow"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.123948458s
[...]
