---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":10,"id":"PR_kwDOJ2BQKs55Hpxz"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOiVynzg==","hasNextPage":false},"nodes":[{"id":"IC_kwDOJ2BQKs6JXKfO","body":"This change is part of the following stack:\n\n- #356 ◀\n\n<sub>Change managed by [git-spice](https://abhinav.github.io/git-spice/).</sub>\n","url":"https://github.com/abhinav/git-spice/pull/356#issuecomment-2304550862","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2024-08-22T12:29:50Z","updatedAt":"2024-08-22T12:29:50Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 277.212709ms
