---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"baseRefName\":\"main\",\"headRefName\":\"jh4ZQk3A\",\"title\":\"jh4ZQk3A\",\"body\":\"Test PR with labels\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createPullRequest\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs6172xJ\",\"number\":22,\"url\":\"https://github.com/abhinav/test-repo/pull/22\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 941.031625ms
- id: 1
  request:
    host: api.github.com
    body: "{\"query\":\"query($label:String!$name:String!$owner:String!){repository(owner: $owner, name: $name){label(name: $label){id}}}\",\"variables\":{\"label\":\"BZOypxxU\",\"name\":\"test-repo\",\"owner\":\"abhinav\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"label\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 223.778292ms
- id: 2
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:CreateLabelInput!){createLabel(input: $input){label{id}}}\",\"variables\":{\"input\":{\"repositoryId\":\"R_kgDOMVd0xg\",\"color\":\"EDEDED\",\"name\":\"BZOypxxU\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"createLabel\":{\"label\":{\"id\":\"LA_kwDOMVd0xs8AAAACQ_E5eA\"}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 388.993833ms
[...]
- id: 5
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:AddLabelsToLabelableInput!){addLabelsToLabelable(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"labelableId\":\"PR_kwDOMVd0xs6172xJ\",\"labelIds\":[\"LA_kwDOMVd0xs8AAAACQ_E5kw\",\"LA_kwDOMVd0xs8AAAACQ_E5eA\"]}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"addLabelsToLabelable\":{\"clientMutationId\":null}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 900.272375ms
- id: 6
  request:
    host: api.github.com
    body: "{\"query\":\"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}}}}}\",\"variables\":{\"number\":22,\"owner\":\"abhinav\",\"repo\":\"test-repo\"}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequest\":{\"id\":\"PR_kwDOMVd0xs6172xJ\",\"number\":22,\"url\":\"https://github.com/abhinav/test-repo/pull/22\",\"title\":\"jh4ZQk3A\",\"state\":\"OPEN\",\"headRefOid\":\"e9951fa08320f2712a76da385d3452d50703eee3\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[{\"name\":\"BZOypxxU\"},{\"name\":\"nzW86hKz\"}]},\"reviewRequests\":{\"nodes\":[]}}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 307.5605ms
- id: 7
  request:
    host: api.github.com
    body: "{\"query\":\"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}}}}}}\",\"variables\":{\"branch\":\"jh4ZQk3A\",\"limit\":10,\"owner\":\"abhinav\",\"repo\":\"test-repo\",\"states\":[\"OPEN\",\"CLOSED\",\"MERGED\"]}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequests\":{\"nodes\":[{\"id\":\"PR_kwDOMVd0xs6172xJ\",\"number\":22,\"url\":\"https://github.com/abhinav/test-repo/pull/22\",\"title\":\"jh4ZQk3A\",\"state\":\"OPEN\",\"headRefOid\":\"e9951fa08320f2712a76da385d3452d50703eee3\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[{\"name\":\"BZOypxxU\"},{\"name\":\"nzW86hKz\"}]},\"reviewRequests\":{\"nodes\":[]}}]}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 299.002ms
- id: 8
  request:
    host: api.github.com
    body: "{\"query\":\"mutation($input:DeleteLabelInput!){deleteLabel(input: $input){clientMutationId}}\",\"variables\":{\"input\":{\"id\":\"nzW86hKz\"}}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"deleteLabel\":null},\"errors\":[{\"type\":\"NOT_FOUND\",\"path\":[\"deleteLabel\"],\"locations\":[{\"line\":1,\"column\":36}],\"message\":\"Could not resolve to a node with the global id of 'nzW86hKz'\"}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 257.160584ms
[...]
