---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($label:String!$name:String!$owner:String!){repository(owner: $owner, name: $name){label(name: $label){id}}}","variables":{"label":"TDlGIr8m","name":"test-repo","owner":"abhinav"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"label":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 612.397125ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateLabelInput!){createLabel(input: $input){label{id}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","color":"EDEDED","name":"TDlGIr8m"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createLabel":{"label":{"id":"LA_kwDOMVd0xs8AAAACGrIpig"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 291.254625ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateLabelInput!){createLabel(input: $input){label{id}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","color":"EDEDED","name":"TDlGIr8m"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createLabel":{"label":null}},"errors":[{"type":"UNPROCESSABLE","path":["createLabel"],"locations":[{"line":1,"column":36}],"message":"Name has already been taken"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 250.362208ms
[...]
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteLabelInput!){deleteLabel(input: $input){clientMutationId}}","variables":{"input":{"id":"TDlGIr8m"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteLabel":null},"errors":[{"type":"NOT_FOUND","path":["deleteLabel"],"locations":[{"line":1,"column":36}],"message":"Could not resolve to a node with the global id of ''TDlGIr8m''"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 195.889666ms
