---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: "{\"query\":\"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}}}}}}\",\"variables\":{\"branch\":\"gh-graphql\",\"limit\":10,\"owner\":\"abhinav\",\"repo\":\"git-spice\",\"states\":[\"OPEN\",\"CLOSED\",\"MERGED\"]}}\n"
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/graphql
    method: POST
  response:
    body: "{\"data\":{\"repository\":{\"pullRequests\":{\"nodes\":[{\"id\":\"PR_kwDOJ2BQKs5xNeqO\",\"number\":144,\"url\":\"https://github.com/abhinav/git-spice/pull/144\",\"title\":\"GitHub: Use GraphQL API\",\"state\":\"MERGED\",\"headRefOid\":\"5d74cecfe3cb066044d129232229e07f5d04e194\",\"baseRefName\":\"main\",\"isDraft\":false,\"labels\":{\"nodes\":[]},\"reviewRequests\":{\"nodes\":[]}}]}}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 308.087875ms
[...]
