---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/64779801
        method: GET
      response:
        body: '{"id":64779801,"description":null,"name":"test-repo","name_with_namespace":"Abhinav Gupta / test-repo","path":"test-repo","path_with_namespace":"abg/test-repo","created_at":"2024-11-23T16:35:46.252Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:abg/test-repo.git","http_url_to_repo":"https://gitlab.com/abg/test-repo.git","web_url":"https://gitlab.com/abg/test-repo","readme_url":null,"forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2024-11-23T18:50:50.483Z","namespace":{"id":1117393,"name":"Abhinav Gupta","path":"abg","kind":"user","full_path":"abg","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"container_registry_image_prefix":"registry.gitlab.com/abg/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/64779801","merge_requests":"https://gitlab.com/api/v4/projects/64779801/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/64779801/repository/branches","labels":"https://gitlab.com/api/v4/projects/64779801/labels","events":"https://gitlab.com/api/v4/projects/64779801/events","members":"https://gitlab.com/api/v4/projects/64779801/members","cluster_agents":"https://gitlab.com/api/v4/projects/64779801/cluster_agents"},"packages_enabled":false,"empty_repo":false,"archived":false,"visibility":"public","owner":{"id":930270,"username":"abg","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2024-11-24T16:35:46.274Z"},"repository_object_format":"sha1","issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":false,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"disabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"disabled","builds_access_level":"disabled","snippets_access_level":"disabled","pages_access_level":"disabled","analytics_access_level":"disabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"disabled","releases_access_level":"disabled","environments_access_level":"disabled","feature_flags_access_level":"disabled","infrastructure_access_level":"disabled","monitor_access_level":"disabled","model_experiments_access_level":"disabled","model_registry_access_level":"disabled","emails_disabled":true,"emails_enabled":false,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":930270,"import_status":"none","description_html":"","updated_at":"2024-11-23T19:32:57.862Z","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":30,"notification_level":3},"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 623.418833ms
    - id: 1
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":11356908}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 211.544875ms
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/2
        method: GET
      response:
        body: '{"id":344934173,"iid":2,"project_id":64779801,"title":"foo","description":null,"state":"merged","created_at":"2024-11-23T19:32:58.154Z","updated_at":"2024-11-23T19:33:14.492Z","merged_by":{"id":930270,"username":"abg","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"merge_user":{"id":930270,"username":"abg","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"merged_at":"2024-11-23T19:33:14.108Z","closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"foo","user_notes_count":1,"upvotes":0,"downvotes":0,"author":{"id":930270,"username":"abg","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":64779801,"target_project_id":64779801,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"not_open","merge_after":null,"sha":"12750c0228ffa8973637dfeee5b07e97e49c5fbe","merge_commit_sha":"274d0b255f267b754760263c634ff857d964bc30","squash_commit_sha":"12750c0228ffa8973637dfeee5b07e97e49c5fbe","discussion_locked":null,"should_remove_source_branch":false,"force_remove_source_branch":null,"prepared_at":"2024-11-23T19:32:59.248Z","reference":"!2","references":{"short":"!2","relative":"!2","full":"abg/test-repo!2"},"web_url":"https://gitlab.com/abg/test-repo/-/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":true,"squash_on_merge":true,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":false,"changes_count":"1","head_pipeline":null,"diff_refs":{"base_sha":"80f0686ccb32c548ac2a962e39797adbf19667b1","head_sha":"12750c0228ffa8973637dfeee5b07e97e49c5fbe","start_sha":"80f0686ccb32c548ac2a962e39797adbf19667b1"},"merge_error":null,"first_contribution":true,"user":{"can_merge":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 335.082583ms
    - id: 3
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/999
        method: GET
      response:
        body: '{"message":"404 Not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 463.226791ms
