---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/projects/64779801
        method: GET
      response:
        body: '{"id":64779801,"description":null,"name":"test-repo","name_with_namespace":"Abhinav Gupta / test-repo","path":"test-repo","path_with_namespace":"abg/test-repo","created_at":"2024-11-23T16:35:46.252Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:abg/test-repo.git","http_url_to_repo":"https://gitlab.com/abg/test-repo.git","web_url":"https://gitlab.com/abg/test-repo","readme_url":null,"forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2024-11-24T23:32:13.840Z","namespace":{"id":1117393,"name":"Abhinav Gupta","path":"abg","kind":"user","full_path":"abg","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"container_registry_image_prefix":"registry.gitlab.com/abg/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/64779801","merge_requests":"https://gitlab.com/api/v4/projects/64779801/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/64779801/repository/branches","labels":"https://gitlab.com/api/v4/projects/64779801/labels","events":"https://gitlab.com/api/v4/projects/64779801/events","members":"https://gitlab.com/api/v4/projects/64779801/members","cluster_agents":"https://gitlab.com/api/v4/projects/64779801/cluster_agents"},"packages_enabled":false,"empty_repo":false,"archived":false,"visibility":"public","owner":{"id":930270,"username":"abg","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2024-11-24T16:35:46.274Z"},"repository_object_format":"sha1","issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":false,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"disabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"disabled","builds_access_level":"disabled","snippets_access_level":"disabled","pages_access_level":"disabled","analytics_access_level":"disabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"disabled","releases_access_level":"disabled","environments_access_level":"disabled","feature_flags_access_level":"disabled","infrastructure_access_level":"disabled","monitor_access_level":"disabled","model_experiments_access_level":"disabled","model_registry_access_level":"disabled","emails_disabled":true,"emails_enabled":false,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":930270,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"description_html":"","updated_at":"2024-11-25T00:13:22.541Z","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"maintainer","runners_token":"GR1348941cpXSMHzfUhGHayaS5Bxv","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 340.04ms
    - id: 1
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":11356908,"username":"gr4cza","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/070f760ee4c51902038f3f48e605707738f3232ce0dba2e1222d5d2d71afd961?s=80\u0026d=identicon","web_url":"https://gitlab.com/gr4cza","created_at":"2022-04-13T17:02:53.101Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2024-11-23T18:58:28.669Z","confirmed_at":"2022-04-13T17:02:53.036Z","last_activity_on":"2024-11-25","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2024-11-24T23:21:58.136Z","identities":[{"provider":"github","extern_uid":"37271364","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"commit_email":"11356908-gr4cza@users.noreply.gitlab.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 236.028958ms
    - id: 2
      request:
        host: gitlab.com
        body: '{"title":"PuvSijw0","description":"Test PR","source_branch":"PuvSijw0","target_branch":"main"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests
        method: POST
      response:
        body: '{"id":344979219,"iid":5,"project_id":64779801,"title":"PuvSijw0","description":"Test PR","state":"opened","created_at":"2024-11-25T00:13:23.365Z","updated_at":"2024-11-25T00:13:23.365Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"PuvSijw0","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":11356908,"username":"gr4cza","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/070f760ee4c51902038f3f48e605707738f3232ce0dba2e1222d5d2d71afd961?s=80\u0026d=identicon","web_url":"https://gitlab.com/gr4cza"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":64779801,"target_project_id":64779801,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","merge_after":null,"sha":"e6a609803da1e0667bfa965375518e52eb752975","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"prepared_at":null,"reference":"!5","references":{"short":"!5","relative":"!5","full":"abg/test-repo!5"},"web_url":"https://gitlab.com/abg/test-repo/-/merge_requests/5","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 643.473083ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"target_branch":"8xa4FMqk"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/5
        method: PUT
      response:
        body: '{"id":344979219,"iid":5,"project_id":64779801,"title":"PuvSijw0","description":"Test PR","state":"opened","created_at":"2024-11-25T00:13:23.365Z","updated_at":"2024-11-25T00:13:26.109[...]
[...]
