---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 172.992875ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"w3wbggbq","title":"Testing review threads w3wbggbq","body":"Test change for review threads"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgnfw","number":186,"url":"https://github.com/test-owner/test-repo/pull/186"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.044255875s
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgnfw","path":"review.go","line":3,"side":"RIGHT","body":"First batched review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUeA","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SEo","url":"https://github.com/test-owner/test-repo/pull/186#discussion_r3838910760"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 699.349084ms
[...]
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$commentsFirst: Int!,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{reviewThreads(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,path,subjectType,diffSide,startDiffSide,line,startLine,originalLine,originalStartLine,isResolved,isOutdated,comments(first: $commentsFirst){pageInfo{endCursor,hasNextPage},nodes{id,url,body,author{login},originalCommit{oid},createdAt}}}}}}}","variables":{"after":null,"commentsFirst":100,"first":100,"id":"PR_kwDOMVd0xs8AAAABAtgnfw"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"reviewThreads":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NDo0OFrOm4FHig==","hasNextPage":false},"nodes":[{"id":"PRRT_kwDOMVd0xs6bgUeA","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":3,"startLine":3,"originalLine":3,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NDo0OFrO5NEhKA==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SEo","url":"https://github.com/test-owner/test-repo/pull/186#discussion_r3838910760","body":"First batched review comment.","author":{"login":"test-owner"},"originalCommit":{"oid":"d669b8cd4bbf21aa0e408c5188ef2f1071e9fa9e"},"createdAt":"2026-08-23T15:44:48Z"}]}},{"id":"PRRT_kwDOMVd0xs6bgUeK","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":4,"startLine":4,"originalLine":4,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NDo0OFrO5NEhOQ==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SE5","url":"https://github.com/test-owner/test-repo/pull/186#discussion_r3838910777","body":"Second batched review comment.","author":{"login":"test-owner"},"originalCommit":{"oid":"d669b8cd4bbf21aa0e408c5188ef2f1071e9fa9e"},"createdAt":"2026-08-23T15:44:48Z"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 451.220459ms
    - id: 5
      request:
        host: api.github.com
        body: '{"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgnfw","state":"CLOSED"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgnfw"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 810.073709ms
