---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.512875ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"EzuHkZEH","title":"Testing review threads EzuHkZEH","body":"Test change for review threads"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABArqVoA","number":182,"url":"https://github.com/test-owner/test-repo/pull/182"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.124243958s
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABArqVoA","path":"review.go","line":3,"side":"RIGHT","body":"First batched review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bc9FU","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7kvaDc","url":"https://github.com/test-owner/test-repo/pull/182#discussion_r3837632732"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 686.055291ms
[...]
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$commentsFirst: Int!,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{reviewThreads(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,path,subjectType,diffSide,startDiffSide,line,startLine,originalLine,originalStartLine,isResolved,isOutdated,comments(first: $commentsFirst){pageInfo{endCursor,hasNextPage},nodes{id,url,body,author{login},createdAt}}}}}}}","variables":{"after":null,"commentsFirst":100,"first":100,"id":"PR_kwDOMVd0xs8AAAABArqVoA"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"reviewThreads":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QwMzo0MTowM1rOm3PRXg==","hasNextPage":false},"nodes":[{"id":"PRRT_kwDOMVd0xs6bc9FU","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":3,"startLine":3,"originalLine":3,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QwMzo0MTowM1rO5L2g3A==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7kvaDc","url":"https://github.com/test-owner/test-repo/pull/182#discussion_r3837632732","body":"First batched review comment.","author":{"login":"test-owner"},"createdAt":"2026-08-23T03:41:03Z"}]}},{"id":"PRRT_kwDOMVd0xs6bc9Fe","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":4,"startLine":4,"originalLine":4,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QwMzo0MTowNFrO5L2g7A==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7kvaDs","url":"https://github.com/test-owner/test-repo/pull/182#discussion_r3837632748","body":"Second batched review comment.","author":{"login":"test-owner"},"createdAt":"2026-08-23T03:41:04Z"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 431.67475ms
