---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 263.626458ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"dXnmESD1","title":"Testing file review thread dXnmESD1","body":"Test change for a file-level review thread"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgqOQ","number":187,"url":"https://github.com/test-owner/test-repo/pull/187"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 849.273458ms
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgqOQ","path":"review.go","subjectType":"FILE","body":"File-level review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUh0","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SKx","url":"https://github.com/test-owner/test-repo/pull/187#discussion_r3838911153"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 706.769125ms
    - id: 3
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$commentsFirst: Int!,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{reviewThreads(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,path,subjectType,diffSide,startDiffSide,line,startLine,originalLine,originalStartLine,isResolved,isOutdated,comments(first: $commentsFirst){pageInfo{endCursor,hasNextPage},nodes{id,url,body,author{login},originalCommit{oid},createdAt}}}}}}}","variables":{"after":null,"commentsFirst":100,"first":100,"id":"PR_kwDOMVd0xs8AAAABAtgqOQ"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"reviewThreads":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NTowMFrOm4FIdA==","hasNextPage":false},"nodes":[{"id":"PRRT_kwDOMVd0xs6bgUh0","path":"review.go","subjectType":"FILE","diffSide":"RIGHT","startDiffSide":null,"line":1,"startLine":null,"originalLine":1,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NTowMFrO5NEisQ==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SKx","url":"https://github.com/test-owner/test-repo/pull/187#discussion_r3838911153","body":"File-level review comment.","author":{"login":"test-owner"},"originalCommit":{"oid":"52bb09740e26803868e9b2abe52ab2942f9805a3"},"createdAt":"2026-08-23T15:45:00Z"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 408.826375ms
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgqOQ","state":"CLOSED"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgqOQ"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 750.111125ms
