---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 268.458916ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"2W7r7FfZ","title":"Testing review threads 2W7r7FfZ","body":"Test change for review threads"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgszQ","number":188,"url":"https://github.com/test-owner/test-repo/pull/188"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 933.907958ms
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgszQ","path":"review.go","line":3,"side":"RIGHT","body":"Comment without review disposition."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUlq","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7k0SQD","url":"https://github.com/test-owner/test-repo/pull/188#discussion_r3838911491"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 685.60475ms
    - id: 3
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{latestOpinionatedReviews(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{author{login},state,commit{oid},submittedAt}}}}}","variables":{"after":null,"first":100,"id":"PR_kwDOMVd0xs8AAAABAtgszQ"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"latestOpinionatedReviews":{"pageInfo":{"endCursor":null,"hasNextPage":false},"nodes":[]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 255.146041ms
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgszQ","state":"CLOSED"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgszQ"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.1733315s
