---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 411.5875ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"hJ5PrQai","title":"Testing review threads hJ5PrQai","body":"Test change for review threads"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABArqTgA","number":181,"url":"https://github.com/test-owner/test-repo/pull/181"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 835.531709ms
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABArqTgA","path":"review.go","line":3,"side":"RIGHT","body":"Single-line review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bc9B2","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7kvZ-Z","url":"https://github.com/test-owner/test-repo/pull/181#discussion_r3837632409"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 788.665834ms
    - id: 3
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadReplyInput!){addPullRequestReviewThreadReply(input: $input){comment{id,url}}}","variables":{"input":{"pullRequestReviewThreadId":"PRRT_kwDOMVd0xs6bc9B2","body":"Reply review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThreadReply":{"comment":{"id":"PRRC_kwDOMVd0xs7kvZ-m","url":"https://github.com/test-owner/test-repo/pull/181#discussion_r3837632422"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 781.105417ms
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$commentsFirst: Int!,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{reviewThreads(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,path,subjectType,diffSide,startDiffSide,line,startLine,originalLine,originalStartLine,isResolved,isOutdated,comments(first: $commentsFirst){pageInfo{endCursor,hasNextPage},nodes{id,url,body,author{login},createdAt}}}}}}}","variables":{"after":null,"commentsFirst":100,"first":100,"id":"PR_kwDOMVd0xs8AAAABArqTgA"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"reviewThreads":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QwMzo0MDo0OVrOm3PQdg==","hasNextPage":false},"nodes":[{"id":"PRRT_kwDOMVd0xs6bc9B2","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":3,"startLine":3,"originalLine":3,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QwMzo0MDo0OVrO5L2fpg==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7kvZ-Z","url":"https://github.com/test-owner/test-repo/pull/181#discussion_r3837632409","body":"Single-line review comment.","author":{"login":"test-owner"},"createdAt":"2026-08-23T03:40:49Z"},{"id":"PRRC_kwDOMVd0xs7kvZ-m","url":"https://github.com/test-owner/test-repo/pull/181#discussion_r3837632422","body":"Reply review comment.","author":{"login":"test-owner"},"createdAt":"2026-08-23T03:40:49Z"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 688.918458ms
    - id: 5
      request:
        host: api.github.com
        body: '{"query":"mutation($input: UpdatePullRequestReviewCommentInput!){updatePullRequestReviewComment(input: $input){pullRequestReviewComment{id}}}","variables":{"input":{"pullRequestReviewCommentId":"PRRC_kwDOMVd0xs7kvZ-Z","body":"Edited single-line review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequestReviewComment":{"pullRequestReviewComment":{"id":"PRRC_kwDOMVd0xs7kvZ-Z"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 355.447041ms
[...]
    - id: 7
      request:
        host: api.github.com
        body: '{"query":"mutation($input: ResolveReviewThreadInput!){resolveReviewThread(input: $input){thread{id}}}","variables":{"input":{"threadId":"PRRT_kwDOMVd0xs6bc9B2"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"resolveReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bc9B2"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 438.721417ms
[...]
    - id: 9
      request:
        host: api.github.com
        body: '{"query":"mutation($input: UnresolveReviewThreadInput!){unresolveReviewThread(input: $input){thread{id}}}","variables":{"input":{"threadId":"PRRT_kwDOMVd0xs6bc9B2"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"unresolveReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bc9B2"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.172042ms
[...]
