---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 276.774041ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"zDnNNrEE","title":"Testing review threads zDnNNrEE","body":"Test change for review threads"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgj0A","number":185,"url":"https://github.com/test-owner/test-repo/pull/185"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.198172417s
    - id: 2
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadInput!){addPullRequestReviewThread(input: $input){thread{id,comments(first: 1){nodes{id,url}}}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgj0A","path":"review.go","line":3,"side":"RIGHT","body":"Single-line review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUW9","comments":{"nodes":[{"id":"PRRC_kwDOMVd0xs7k0R63","url":"https://github.com/test-owner/test-repo/pull/185#discussion_r3838910135"}]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 639.827583ms
    - id: 3
      request:
        host: api.github.com
        body: '{"query":"query($after: String,$commentsFirst: Int!,$first: Int!,$id: ID!,){node(id: $id){... on PullRequest{reviewThreads(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,path,subjectType,diffSide,startDiffSide,line,startLine,originalLine,originalStartLine,isResolved,isOutdated,comments(first: $commentsFirst){pageInfo{endCursor,hasNextPage},nodes{id,url,body,author{login},originalCommit{oid},createdAt}}}}}}}","variables":{"after":null,"commentsFirst":100,"first":100,"id":"PR_kwDOMVd0xs8AAAABAtgj0A"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"reviewThreads":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NDozMVrOm4FFvQ==","hasNextPage":false},"nodes":[{"id":"PRRT_kwDOMVd0xs6bgUW9","path":"review.go","subjectType":"LINE","diffSide":"RIGHT","startDiffSide":null,"line":3,"startLine":3,"originalLine":3,"originalStartLine":null,"isResolved":false,"isOutdated":false,"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK0MjAyNi0wOC0yM1QxNTo0NDozMVrO5NEetw==","hasNextPage":false},"nodes":[{"id":"PRRC_kwDOMVd0xs7k0R63","url":"https://github.com/test-owner/test-repo/pull/185#discussion_r3838910135","body":"Single-line review comment.","author":{"login":"test-owner"},"originalCommit":{"oid":"afaca9733a722ad43e85f7af2d845d5fbdede6ca"},"createdAt":"2026-08-23T15:44:31Z"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 336.427208ms
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"mutation($input: AddPullRequestReviewThreadReplyInput!){addPullRequestReviewThreadReply(input: $input){comment{id,url}}}","variables":{"input":{"pullRequestReviewThreadId":"PRRT_kwDOMVd0xs6bgUW9","body":"Reply review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addPullRequestReviewThreadReply":{"comment":{"id":"PRRC_kwDOMVd0xs7k0R8e","url":"https://github.com/test-owner/test-repo/pull/185#discussion_r3838910238"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 664.395542ms
[...]
    - id: 6
      request:
        host: api.github.com
        body: '{"query":"mutation($input: UpdatePullRequestReviewCommentInput!){updatePullRequestReviewComment(input: $input){pullRequestReviewComment{id}}}","variables":{"input":{"pullRequestReviewCommentId":"PRRC_kwDOMVd0xs7k0R63","body":"Edited single-line review comment."}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequestReviewComment":{"pullRequestReviewComment":{"id":"PRRC_kwDOMVd0xs7k0R63"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 397.929208ms
[...]
    - id: 8
      request:
        host: api.github.com
        body: '{"query":"mutation($input: ResolveReviewThreadInput!){resolveReviewThread(input: $input){thread{id}}}","variables":{"input":{"threadId":"PRRT_kwDOMVd0xs6bgUW9"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"resolveReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUW9"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 318.610541ms
[...]
    - id: 10
      request:
        host: api.github.com
        body: '{"query":"mutation($input: UnresolveReviewThreadInput!){unresolveReviewThread(input: $input){thread{id}}}","variables":{"input":{"threadId":"PRRT_kwDOMVd0xs6bgUW9"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"unresolveReviewThread":{"thread":{"id":"PRRT_kwDOMVd0xs6bgUW9"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 358.584416ms
[...]
    - id: 12
      request:
        host: api.github.com
        body: '{"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs8AAAABAtgj0A","state":"CLOSED"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAtgj0A"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 808.172375ms
