---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDORFeuHw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 308.747875ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDORFeuHw","baseRefName":"main","headRefName":"BqcVctCy","title":"Testing BqcVctCy","body":"Test PR for comments"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDORFeuH87BP-K1","number":65,"url":"https://github.com/test-owner/test-repo/pull/65"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.40765225s
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDORFeuH87BP-K1","body":"edxdOHWzxUU9rAlWVYQ1tdtOMIvoOl8B"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDORFeuH87lCfC1","url":"https://github.com/test-owner/test-repo/pull/65#issuecomment-3842633909"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 708.036208ms
[...]
    - id: 12
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDORFeuH87lCfC1","body":"96aS9LE56UrAdu7lI0DfJC2QoJKBxMPi"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":{"issueComment":{"id":"IC_kwDORFeuH87lCfC1"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 921.173958ms
    - id: 13
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteIssueCommentInput!){deleteIssueComment(input: $input){clientMutationId}}","variables":{"input":{"id":"IC_kwDORFeuH87lCfDp"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteIssueComment":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 754.371084ms
    - id: 14
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDORFeuH87lCfDp","body":"should fail"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":null},"errors":[{"type":"NOT_FOUND","path":["updateIssueComment"],"locations":[{"line":1,"column":43}],"message":"Could not resolve to a node with the global id of ''IC_kwDORFeuH87lCfDp''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 158.069208ms
    - id: 15
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDORFeuH87BP-K1"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHO5QnxTw==","hasNextPage":true},"nodes":[{"id":"IC_kwDORFeuH87lCfC1","body":"96aS9LE56UrAdu7lI0DfJC2QoJKBxMPi","url":"https://github.com/test-owner/test-repo/pull/65#issuecomment-3842633909","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-03T17:23:42Z","updatedAt":"2026-02-03T17:23:47Z"},{"id":"IC_kwDORFeuH87lCfEn","body":"r7Gqd2Y1cTkDnUTjDU7ysX5xSUkQt7I1","url":"https://github.com/test-owner/test-repo/pull/65#issuecomment-3842634023","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-03T17:23:43Z","updatedAt":"2026-02-03T17:23:43Z"},{"id":"IC_kwDORFeuH87lCfFP","body":"N86zKJah5CIfSdFb7apGAbjX03lOJR1H","url":"https://github.com/test-owner/test-repo/pull/65#issuecomment-3842634063","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-03T17:23:44Z","updatedAt":"2026-02-03T17:23:44Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 224.27475ms
[...]
