---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"YnHQQ6Sw","title":"Open YnHQQ6Sw","body":"Open change"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs64PI_i","number":49,"url":"https://github.com/abhinav/test-repo/pull/49"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 924.705125ms
[...]
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:MergePullRequestInput!){mergePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs64PI_9"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"mergePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs64PI_9"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.837170292s
[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs64PJBd","state":"CLOSED"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs64PJBd"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 725.733625ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($ids:[ID!]!){nodes(ids: $ids){... on PullRequest{state}}}","variables":{"ids":["PR_kwDOMVd0xs64PI_i","PR_kwDOMVd0xs64PI_9","PR_kwDOMVd0xs64PJBd"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"nodes":[{"state":"OPEN"},{"state":"MERGED"},{"state":"CLOSED"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.663542ms
