---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 324.071833ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"g2y2RaN8","title":"Open g2y2RaN8","body":"Open change"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs75fZvt","number":127,"url":"https://github.com/test-owner/test-repo/pull/127"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.010953708s
[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:MergePullRequestInput!){mergePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs75fZwS"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"mergePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs75fZwS"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.81503875s
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdatePullRequestInput!){updatePullRequest(input: $input){pullRequest{id}}}","variables":{"input":{"pullRequestId":"PR_kwDOMVd0xs75fZw4","state":"CLOSED"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updatePullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs75fZw4"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 690.235583ms
    - id: 6
      request:
        host: api.github.com
        body: |
            {"query":"query($ids:[ID!]!){nodes(ids: $ids){... on PullRequest{state,headRefOid}}}","variables":{"ids":["PR_kwDOMVd0xs75fZvt","PR_kwDOMVd0xs75fZwS","PR_kwDOMVd0xs75fZw4"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"nodes":[{"state":"OPEN","headRefOid":"7559ace92065d1496d181fd22ee202adbfd8fa3d"},{"state":"MERGED","headRefOid":"fe444ebe6bdabba032d5e322866146438ee650be"},{"state":"CLOSED","headRefOid":"2f2db47c0634a1e2d51e6b8a8d904f75a23cad89"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 265.19075ms
    - id: 7
      request:
        host: api.github.com
        body: |
            {"query":"query($branch0:String!$branch1:String!$branch2:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){branch0:pullRequests(first: $limit, headRefName: $branch0, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,state,headRefOid,headRepository{owner{login},name}}},branch1:pullRequests(first: $limit, headRefName: $branch1, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,state,headRefOid,headRepository{owner{login},name}}},branch2:pullRequests(first: $limit, headRefName: $branch2, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,state,headRefOid,headRepository{owner{login},name}}}}}","variables":{"branch0":"g2y2RaN8","branch1":"oFu1oXpG","branch2":"Y8BUg4Me","limit":10,"owner":"test-owner","repo":"test-repo","states":["OPEN","CLOSED","MERGED"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branch0":{"nodes":[{"id":"PR_kwDOMVd0xs75fZvt","number":127,"state":"OPEN","headRefOid":"7559ace92065d1496d181fd22ee202adbfd8fa3d","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"}}]},"branch1":{"nodes":[{"id":"PR_kwDOMVd0xs75fZwS","number":128,"state":"MERGED","headRefOid":"fe444ebe6bdabba032d5e322866146438ee650be","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"}}]},"branch2":{"nodes":[{"id":"PR_kwDOMVd0xs75fZw4","number":129,"state":"CLOSED","headRefOid":"2f2db47c0634a1e2d51e6b8a8d904f75a23cad89","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 555.602333ms
