---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"EXQU58Pz","title":"Testing EXQU58Pz","body":"Test PR for comments"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs64rMsX","number":57,"url":"https://github.com/abhinav/test-repo/pull/57"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.223432583s
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDOMVd0xs64rMsX","body":"Uth2ExkkOP8iZbJNQIrCpopMw5BXgr5H"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDOMVd0xs7ZffkD","url":"https://github.com/abhinav/test-repo/pull/57#issuecomment-3648911619"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 524.979333ms
[...]
    - id: 11
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDOMVd0xs7ZffkD","body":"0mk7b6PotW3RfL3r72FhLRRPIXDfCS4z"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":{"issueComment":{"id":"IC_kwDOMVd0xs7ZffkD"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 803.52325ms
    - id: 12
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDOMVd0xs64rMsX"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHO2X35Dg==","hasNextPage":true},"nodes":[{"id":"IC_kwDOMVd0xs7ZffkD","body":"0mk7b6PotW3RfL3r72FhLRRPIXDfCS4z","url":"https://github.com/abhinav/test-repo/pull/57#issuecomment-3648911619","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2025-12-13T04:31:28Z","updatedAt":"2025-12-13T04:31:34Z"},{"id":"IC_kwDOMVd0xs7ZffkJ","body":"fMsJupfPvygBDfed2Vp6oYYK39tI6g8j","url":"https://github.com/abhinav/test-repo/pull/57#issuecomment-3648911625","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2025-12-13T04:31:28Z","updatedAt":"2025-12-13T04:31:28Z"},{"id":"IC_kwDOMVd0xs7ZffkO","body":"DdjsnoKQStJ4db9itHwJsDFIgtGicdMc","url":"https://github.com/abhinav/test-repo/pull/57#issuecomment-3648911630","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2025-12-13T04:31:29Z","updatedAt":"2025-12-13T04:31:29Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 307.016875ms
[...]
