---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"9cUy3LIu","title":"Testing 9cUy3LIu","body":"Test PR for comments"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7AxHEp","number":67,"url":"https://github.com/abhinav/test-repo/pull/67"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.212675459s
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDOMVd0xs7AxHEp","body":"kuBkPtigH6lUmo9E5RVZcrb5mQRMQAQR"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDOMVd0xs7kafJN","url":"https://github.com/abhinav/test-repo/pull/67#issuecomment-3832148557"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 612.976875ms
[...]
    - id: 11
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDOMVd0xs7kafJN","body":"najHL2lOyrqzYQ4lrb8bC3v1ctBVXVxD"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":{"issueComment":{"id":"IC_kwDOMVd0xs7kafJN"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 712.007291ms
    - id: 12
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteIssueCommentInput!){deleteIssueComment(input: $input){clientMutationId}}","variables":{"input":{"id":"IC_kwDOMVd0xs7kafJY"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteIssueComment":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.227048459s
    - id: 13
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDOMVd0xs7kafJY","body":"should fail"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":null},"errors":[{"type":"NOT_FOUND","path":["updateIssueComment"],"locations":[{"line":1,"column":43}],"message":"Could not resolve to a node with the global id of ''IC_kwDOMVd0xs7kafJY''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.979791ms
    - id: 14
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDOMVd0xs7AxHEp"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHO5GnyZw==","hasNextPage":true},"nodes":[{"id":"IC_kwDOMVd0xs7kafJN","body":"najHL2lOyrqzYQ4lrb8bC3v1ctBVXVxD","url":"https://github.com/abhinav/test-repo/pull/67#issuecomment-3832148557","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T22:13:06Z","updatedAt":"2026-02-01T22:13:12Z"},{"id":"IC_kwDOMVd0xs7kafJg","body":"f0x20hnfSHU1srdDisxv49B63MHGf9s4","url":"https://github.com/abhinav/test-repo/pull/67#issuecomment-3832148576","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T22:13:07Z","updatedAt":"2026-02-01T22:13:07Z"},{"id":"IC_kwDOMVd0xs7kafJn","body":"XXlhWNWmmHGcUIbUdqs2IO8BGDbXYXv2","url":"https://github.com/abhinav/test-repo/pull/67#issuecomment-3832148583","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T22:13:08Z","updatedAt":"2026-02-01T22:13:08Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 275.359625ms
[...]
