---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDORFeuHw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 186.669709ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDORFeuHw","baseRefName":"main","headRefName":"vHZqxJvm","title":"Testing vHZqxJvm","body":"Test PR for comment counts"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDORFeuH87Auysf","number":64,"url":"https://github.com/test-owner/test-repo/pull/64"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 673.188375ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($ids:[ID!]!){nodes(ids: $ids){... on PullRequest{reviewThreads(first: 100){totalCount,pageInfo{endCursor,hasNextPage},nodes{isResolved}}}}}","variables":{"ids":["PR_kwDORFeuH87Auysf"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"nodes":[{"reviewThreads":{"totalCount":0,"pageInfo":{"endCursor":null,"hasNextPage":false},"nodes":[]}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 204.997417ms
