---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 245.813458ms
    - id: 1
      request:
        host: api.github.com
        body: '{"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"stack-bottom-geOs2I70","title":"Native stack bottom stack-bottom-geOs2I70","body":"Native stack integration test"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs8AAAABAvngeg","number":189,"url":"https://github.com/test-owner/test-repo/pull/189"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.566483666s
[...]
    - id: 3
      request:
        host: api.github.com
        url: https://api.github.com/repos/test-owner/test-repo/stacks
        method: GET
      response:
        body: '[{"id":313473,"number":174,"node_id":"PRS_kwDOMVd0xs4ABMiB","url":"https://api.github.com/repos/test-owner/test-repo/stacks/174","base":{"ref":"main"},"open":false,"created_at":"2026-08-12T13:40:09Z","pull_requests":[{"number":170,"state":"closed","draft":false,"merged_at":"2026-08-12T13:40:15Z","head":{"ref":"divergent-stack-a-pO7wJfwF","sha":"cbba7e8dcfec641a88f530c0ccc7c8ce535aeeae"}},{"number":171,"state":"closed","draft":false,"merged_at":"2026-08-12T13:40:16Z","head":{"ref":"divergent-stack-b-9iT5TOLK","sha":"04f50ba691258ef2c136849b1ad0a9e45a6d964a"}},{"number":172,"state":"closed","draft":false,"merged_at":"2026-08-12T13:40:17Z","head":{"ref":"divergent-stack-c-iXygp4Wc","sha":"5e059d8b881a4c03271f7bd6eff43496fb7bfba2"}}]},{"id":313446,"number":169,"node_id":"PRS_kwDOMVd0xs4ABMhm","url":"https://api.github.com/repos/test-owner[...]
    - id: 4
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!,$repo:String!,$pr0:Int!,$pr1:Int!){repository(owner: $owner, name: $repo){pr0:pullRequest(number: $pr0){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr1:pullRequest(number: $pr1){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}}}}","variables":{"owner":"test-owner","pr0":189,"pr1":190,"repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pr0":{"id":"PR_kwDOMVd0xs8AAAABAvngeg","state":"OPEN","headRefName":"stack-bottom-geOs2I70","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null},"pr1":{"id":"PR_kwDOMVd0xs8AAAABAvnhBw","state":"OPEN","headRefName":"stack-middle-VEtQX9yQ","baseRefName":"stack-bottom-geOs2I70","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 255.773625ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"pull_requests":[189,190]}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/stacks
        method: POST
      response:
        body: '{"id":560648,"number":191,"node_id":"PRS_kwDOMVd0xs4ACI4I","url":"https://api.github.com/repos/test-owner/test-repo/stacks/191","base":{"ref":"main"},"open":true,"created_at":"2026-08-24T02:35:35Z","pull_requests":[{"url":"https://api.github.com/repos/test-owner/test-repo/pulls/189","id":4344897658,"number":189,"head":{"ref":"stack-bottom-geOs2I70","sha":"d09aa9285a4200d6ec0a1454033a5302a8c15f94","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"base":{"ref":"main","sha":"64adfb2f4b54a69373ea283c80837cc220eb94ba","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"node_id":"PR_kwDOMVd0xs8AAAABAvngeg","title":"Native stack bottom stack-bottom-geOs2I70","state":"open","merged_at":null,"draft":false,"html_url":"https://github.com/test-owner/test-repo/pull/189","user":{"login":"test-owner","id":41730,"node_id":"MDQ6VXNlcjQxNzMw","avatar_url":"https://avatars.githubusercontent.com/u/41730?v=4","gravatar_id":"","url":"https://api.github.com/users/test-owner","html_url":"https://github.com/test-owner","followers_url":"https://api.github.com/users/test-owner/followers","following_url":"https://api.github.com/users/test-owner/following{/other_user}","gists_url":"https://api.github.com/users/test-owner/gists{/gist_id}","starred_url":"https://api.github.com/users/test-owner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-owner/subscriptions","organizations_url":"https://api.github.com/users/test-owner/orgs","repos_url":"https://api.github.com/users/test-owner/repos","events_url":"https://api.github.com/users/test-owner/events{/privacy}","received_events_url":"https://api.github.com/users/test-owner/received_events","type":"User","user_view_type":"public","site_admin":false}},{"url":"https://api.github.com/repos/test-owner/test-repo/pulls/190","id":4344897799,"number":190,"head":{"ref":"stack-middle-VEtQX9yQ","sha":"7b6309fa47e62cd6b9984a4e9dc1c1081756fd76","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"base":{"ref":"stack-bottom-geOs2I70","sha":"d09aa9285a4200d6ec0a1454033a5302a8c15f94","repo":{"id":827815110,"url":"https://api.github.com/repos/test-owner/test-repo","name":"test-repo"}},"node_id":"PR_kw[...]
[...]
    - id: 8
      request:
        host: api.github.com
        body: '{"query":"query($owner:String!,$repo:String!,$pr0:Int!,$pr1:Int!,$pr2:Int!){repository(owner: $owner, name: $repo){pr0:pullRequest(number: $pr0){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr1:pullRequest(number: $pr1){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}},pr2:pullRequest(number: $pr2){id,state,headRefName,baseRefName,headRepository{owner{login},name},stack{id}}}}","variables":{"owner":"test-owner","pr0":189,"pr1":190,"pr2":192,"repo":"test-repo"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pr0":{"id":"PR_kwDOMVd0xs8AAAABAvngeg","state":"OPEN","headRefName":"stack-bottom-geOs2I70","baseRefName":"main","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":{"id":"PRS_kwDOMVd0xs4ACI4I"}},"pr1":{"id":"PR_kwDOMVd0xs8AAAABAvnhBw","state":"OPEN","headRefName":"stack-middle-VEtQX9yQ","baseRefName":"stack-bottom-geOs2I70","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":{"id":"PRS_kwDOMVd0xs4ACI4I"}},"pr2":{"id":"PR_kwDOMVd0xs8AAAABAvnicw","state":"OPEN","headRefName":"stack-top-ip5EzT1K","baseRefName":"stack-middle-VEtQX9yQ","headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"stack":null}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 284.43175ms
    - id: 9
      request:
        host: api.github.com
        body: '{"query":"query($ids:[ID!]!){nodes(ids: $ids){... on PullRequestStack{id,number,entries(first: 100){nodes{pullRequest{number,state,mergeQueueEntry{id},autoMergeRequest{enabledAt}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"ids":["PRS_kwDOMVd0xs4ACI4I"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"nodes":[{"id":"PRS_kwDOMVd0xs4ACI4I","number":191,"entries":{"nodes":[{"pullRequest":{"number":189,"state":"OPEN","mergeQueueEntry":null,"autoMergeRequest":null}},{"pullRequest":{"number":190,"state":"OPEN","mergeQueueEntry":null,"autoMergeRequest":null}}],"pageInfo":{"endCursor":"Mg","hasNextPage":false}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 282.453ms
    - id: 10
      request:
        host: api.github.com
        body: |
            {"pull_requests":[192]}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/stacks/191/add
        method: POST
      response:
        body: '{"id":560648,"number":191,"node_id":"PRS_kwDOMVd0xs4ACI4I","url":"https://api.github.com/repos/test-owner/test-repo/stacks/191","base":{"ref":"main"},"open":true,"created_at":"2026-08[...]
[...]
