---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 268.693708ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"Jq9JrN2F","title":"Testing Jq9JrN2F","body":"Test PR with labels"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7XrljC","number":74,"url":"https://github.com/test-owner/test-repo/pull/74"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 870.605708ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($label:String!$name:String!$owner:String!){repository(owner: $owner, name: $name){label(name: $label){id}}}","variables":{"label":"PRjo2q19","name":"test-repo","owner":"test-owner"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"label":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 224.532917ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateLabelInput!){createLabel(input: $input){label{id}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","color":"EDEDED","name":"PRjo2q19"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createLabel":{"label":{"id":"LA_kwDOMVd0xs8AAAAChpLQ6w"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 335.693667ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddLabelsToLabelableInput!){addLabelsToLabelable(input: $input){clientMutationId}}","variables":{"input":{"labelableId":"PR_kwDOMVd0xs7XrljC","labelIds":["LA_kwDOMVd0xs8AAAAChpLQ6w"]}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addLabelsToLabelable":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 771.573833ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":74,"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDOMVd0xs7XrljC","number":74,"url":"https://github.com/test-owner/test-repo/pull/74","title":"Testing Jq9JrN2F","state":"OPEN","headRefOid":"9f8868111ceef2ecfb1400569938d5a292899bbb","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[{"name":"PRjo2q19"}]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 258.373834ms
[...]
    - id: 13
      request:
        host: api.github.com
        body: |
            {"query":"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}}","variables":{"branch":"Jq9JrN2F","limit":10,"owner":"test-owner","repo":"test-repo","states":["OPEN","CLOSED","MERGED"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequests":{"nodes":[{"id":"PR_kwDOMVd0xs7XrljC","number":74,"url":"https://github.com/test-owner/test-repo/pull/74","title":"Testing Jq9JrN2F","state":"OPEN","headRefOid":"9f8868111ceef2ecfb1400569938d5a292899bbb","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[{"name":"PRjo2q19"},{"name":"szXgPUIa"},{"name":"Itfxhjgu"}]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 307.757916ms
