---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 522.9745ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"Q7TFcwob","title":"Testing Q7TFcwob","body":"Test PR with combined metadata"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7w2K4m","number":113,"url":"https://github.com/test-owner/test-repo/pull/113"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.098073875s
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($user0:String!$user1:String!){user0:user(login: $user0){id},user1:user(login: $user1){id}}","variables":{"user0":"test-owner-robot","user1":"test-owner"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"user0":{"id":"U_kgDOCzNVWQ"},"user1":{"id":"MDQ6VXNlcjQxNzMw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 261.470875ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"mutation($reviews:RequestReviewsInput!$assignees:AddAssigneesToAssignableInput!){reviews:requestReviews(input: $reviews){clientMutationId},assignees:addAssigneesToAssignable(input: $assignees){clientMutationId}}","variables":{"assignees":{"assignableId":"PR_kwDOMVd0xs7w2K4m","assigneeIds":["MDQ6VXNlcjQxNzMw"]},"reviews":{"pullRequestId":"PR_kwDOMVd0xs7w2K4m","userIds":["U_kgDOCzNVWQ"],"union":true}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"reviews":{"clientMutationId":null},"assignees":{"clientMutationId":null}},"extensions":{"warnings":[{"type":"DEPRECATION","message":"The id MDQ6VXNlcjQxNzMw is deprecated. Update your cache to use the next_global_id from the data payload.","data":{"legacy_global_id":"MDQ6VXNlcjQxNzMw","next_global_id":"U_kgDNowI"},"link":"https://docs.github.com"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.025720167s
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}}","variables":{"branch":"Q7TFcwob","limit":10,"owner":"test-owner","repo":"test-repo","states":["OPEN","CLOSED","MERGED"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequests":{"nodes":[{"id":"PR_kwDOMVd0xs7w2K4m","number":113,"url":"https://github.com/test-owner/test-repo/pull/113","title":"Testing Q7TFcwob","state":"OPEN","headRefOid":"b03d6fc4eebc9e13cbcdfca0b2156a60e1de362a","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[{"requestedReviewer":{"login":"test-owner-robot"}}]},"assignees":{"nodes":[{"login":"test-owner"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.947042ms
