---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 208.3815ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"FePcGHUa","title":"Testing FePcGHUa","body":"Test PR"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7XrljW","number":77,"url":"https://github.com/test-owner/test-repo/pull/77"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.324138875s
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":77,"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDOMVd0xs7XrljW","number":77,"url":"https://github.com/test-owner/test-repo/pull/77","title":"Testing FePcGHUa","state":"OPEN","headRefOid":"8cf88ce2a42d0dd3bbf8e06581320a3d4c201091","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 262.59625ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"query($branch:String!$limit:Int!$owner:String!$repo:String!$states:[PullRequestState!]!){repository(owner: $owner, name: $repo){pullRequests(first: $limit, headRefName: $branch, states: $states, orderBy: {field: UPDATED_AT, direction: DESC}){nodes{id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}}","variables":{"branch":"FePcGHUa","limit":10,"owner":"test-owner","repo":"test-repo","states":["OPEN","CLOSED","MERGED"]}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequests":{"nodes":[{"id":"PR_kwDOMVd0xs7XrljW","number":77,"url":"https://github.com/test-owner/test-repo/pull/77","title":"Testing FePcGHUa","state":"OPEN","headRefOid":"8cf88ce2a42d0dd3bbf8e06581320a3d4c201091","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 254.60025ms
