---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"golang","repo":"go"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"MDEwOlJlcG9zaXRvcnkyMzA5Njk1OQ=="}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 198.453709ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"query($name:String!$owner:String!){repository(owner: $owner, name: $name){pullRequestTemplates{filename,body}}}","variables":{"name":"go","owner":"golang"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequestTemplates":[{"filename":"PULL_REQUEST_TEMPLATE","body":"This PR will be imported into Gerrit with the title and first\ncomment (this text) used to generate the subject and body of\nthe Gerrit change.\n\n**Please ensure you adhere to every item in this list.**\n\nMore info can be found at https://github.com/golang/go/wiki/CommitMessage\n\n+ The PR title is formatted as follows: `net/http: frob the quux before blarfing`\n  + The package name goes before the colon\n  + The part after the colon uses the verb tense + phrase[...]
