---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.800125ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"UFSsjciO","title":"Checks UFSsjciO","body":"Checks state test"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7osNlM","number":95,"url":"https://github.com/test-owner/test-repo/pull/95"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 895.112042ms
    - id: 2
      request:
        host: api.github.com
        body: '{"state":"failure","context":"git-spice integration failed","description":"Synthetic status for git-spice integration tests"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/statuses/0789820dc3bc290784d665da3b71e86c34d407a8
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/test-owner/test-repo/statuses/0789820dc3bc290784d665da3b71e86c34d407a8","avatar_url":"https://avatars.githubusercontent.com/oa/1157143?v=4","id":49257782439,"node_id":"SC_kwDOMVd0xs8AAAALd_4cpw","state":"failure","description":"Synthetic status for git-spice integration tests","target_url":null,"context":"git-spice integration failed","created_at":"2026-06-20T14:15:01Z","updated_at":"2026-06-20T14:15:01Z","creator":{"login":"test-owner","id":41730,"node_id":"MDQ6VXNlcjQxNzMw","avatar_url":"https://avatars.githubusercontent.com/u/41730?v=4","gravatar_id":"","url":"https://api.github.com/users/test-owner","html_url":"https://github.com/test-owner","followers_url":"https://api.github.com/users/test-owner/followers","following_url":"https://api.github.com/users/test-owner/following{/other_user}","gists_url":"https://api.github.com/users/test-owner/gists{/gist_id}","starred_url":"https://api.github.com/users/test-owner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-owner/subscriptions","organizations_url":"https://api.github.com/users/test-owner/orgs","repos_url":"https://api.github.com/users/test-owner/repos","events_url":"https://api.github.com/users/test-owner/events{/privacy}","received_events_url":"https://api.github.com/users/test-owner/received_events","type":"User","user_view_type":"public","site_admin":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 407.113125ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$id:ID!){node(id: $id){... on PullRequest{commits(last: 1){nodes{commit{statusCheckRollup{contexts(first: 100, after: $after){nodes{... on StatusContext{context,state,createdAt},... on CheckRun{name,checkSuite{workflowRun{event,workflow{name}}},status,conclusion,startedAt,completedAt}},pageInfo{endCursor,hasNextPage}}}}}}}}}","variables":{"after":null,"id":"PR_kwDOMVd0xs7osNlM"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"commits":{"nodes":[{"commit":{"statusCheckRollup":{"contexts":{"nodes":[{"context":"git-spice integration failed","state":"FAILURE","createdAt":"2026-06-20T14:15:01Z"}],"pageInfo":{"endCursor":"MQ","hasNextPage":false}}}}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.385542ms
