---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 228.113417ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"2hH5fM17","title":"Checks 2hH5fM17","body":"Checks state test"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7osNc7","number":93,"url":"https://github.com/test-owner/test-repo/pull/93"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 842.952958ms
    - id: 2
      request:
        host: api.github.com
        body: '{"state":"pending","context":"git-spice integration pending","description":"Synthetic status for git-spice integration tests"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/statuses/28b7a369308f42429ae1733f73b940ede52c56ad
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/test-owner/test-repo/statuses/28b7a369308f42429ae1733f73b940ede52c56ad","avatar_url":"https://avatars.githubusercontent.com/oa/1157143?v=4","id":49257780130,"node_id":"SC_kwDOMVd0xs8AAAALd_4Tog","state":"pending","description":"Synthetic status for git-spice integration tests","target_url":null,"context":"git-spice integration pending","created_at":"2026-06-20T14:14:51Z","updated_at":"2026-06-20T14:14:51Z","creator":{"login":"test-owner","id":41730,"node_id":"MDQ6VXNlcjQxNzMw","avatar_url":"https://avatars.githubusercontent.com/u/41730?v=4","gravatar_id":"","url":"https://api.github.com/users/test-owner","html_url":"https://github.com/test-owner","followers_url":"https://api.github.com/users/test-owner/followers","following_url":"https://api.github.com/users/test-owner/following{/other_user}","gists_url":"https://api.github.com/users/test-owner/gists{/gist_id}","starred_url":"https://api.github.com/users/test-owner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-owner/subscriptions","organizations_url":"https://api.github.com/users/test-owner/orgs","repos_url":"https://api.github.com/users/test-owner/repos","events_url":"https://api.github.com/users/test-owner/events{/privacy}","received_events_url":"https://api.github.com/users/test-owner/received_events","type":"User","user_view_type":"public","site_admin":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 360.72375ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$id:ID!){node(id: $id){... on PullRequest{commits(last: 1){nodes{commit{statusCheckRollup{contexts(first: 100, after: $after){nodes{... on StatusContext{context,state,createdAt},... on CheckRun{name,checkSuite{workflowRun{event,workflow{name}}},status,conclusion,startedAt,completedAt}},pageInfo{endCursor,hasNextPage}}}}}}}}}","variables":{"after":null,"id":"PR_kwDOMVd0xs7osNc7"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"commits":{"nodes":[{"commit":{"statusCheckRollup":{"contexts":{"nodes":[{"context":"git-spice integration pending","state":"PENDING","createdAt":"2026-06-20T14:14:51Z"}],"pageInfo":{"endCursor":"MQ","hasNextPage":false}}}}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 339.267625ms
