---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.691167ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"OMAT1uZX","title":"Checks OMAT1uZX","body":"Checks state test"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7hF5gH","number":87,"url":"https://github.com/test-owner/test-repo/pull/87"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.262561833s
    - id: 2
      request:
        host: api.github.com
        body: '{"state":"pending","context":"git-spice integration","description":"Synthetic status for git-spice integration tests"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/repos/test-owner/test-repo/statuses/263e2c55f2fc94fc690736b264550850b111f38c
        method: POST
      response:
        body: '{"url":"https://api.github.com/repos/test-owner/test-repo/statuses/263e2c55f2fc94fc690736b264550850b111f38c","avatar_url":"https://avatars.githubusercontent.com/oa/1157143?v=4","id":48196545020,"node_id":"SC_kwDOMVd0xs8AAAALOLzp_A","state":"pending","description":"Synthetic status for git-spice integration tests","target_url":null,"context":"git-spice integration","created_at":"2026-05-31T13:05:09Z","updated_at":"2026-05-31T13:05:09Z","creator":{"login":"test-owner-robot","id":187913561,"node_id":"U_kgDOCzNVWQ","avatar_url":"https://avatars.githubusercontent.com/u/187913561?v=4","gravatar_id":"","url":"https://api.github.com/users/test-owner-robot","html_url":"https://github.com/test-owner-robot","followers_url":"https://api.github.com/users/test-owner-robot/followers","following_url":"https://api.github.com/users/test-owner-robot/following{/other_user}","gists_url":"https://api.github.com/users/test-owner-robot/gists{/gist_id}","starred_url":"https://api.github.com/users/test-owner-robot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-owner-robot/subscriptions","organizations_url":"https://api.github.com/users/test-owner-robot/orgs","repos_url":"https://api.github.com/users/test-owner-robot/repos","events_url":"https://api.github.com/users/test-owner-robot/events{/privacy}","received_events_url":"https://api.github.com/users/test-owner-robot/received_events","type":"User","user_view_type":"public","site_admin":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 397.670333ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"query($id:ID!){node(id: $id){... on PullRequest{commits(last: 1){nodes{commit{statusCheckRollup{state}}}}}}}","variables":{"id":"PR_kwDOMVd0xs7hF5gH"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"commits":{"nodes":[{"commit":{"statusCheckRollup":{"state":"PENDING"}}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 420.510416ms
