---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDOMVd0xg"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 345.738542ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDOMVd0xg","baseRefName":"main","headRefName":"X7O7BGzP","title":"Testing X7O7BGzP","body":"Test PR without reviewers"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDOMVd0xs7w2FOU","number":109,"url":"https://github.com/test-owner/test-repo/pull/109"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.076210958s
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":109,"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDOMVd0xs7w2FOU","number":109,"url":"https://github.com/test-owner/test-repo/pull/109","title":"Testing X7O7BGzP","state":"OPEN","headRefOid":"6ee0e4521a4e12e92ec5f7038d92cbe93349235a","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[]},"assignees":{"nodes":[]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 264.245791ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"query":"query($user0:String!){user0:user(login: $user0){id}}","variables":{"user0":"test-owner-robot"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"user0":{"id":"U_kgDOCzNVWQ"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 183.831958ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"mutation($reviews:RequestReviewsInput!){reviews:requestReviews(input: $reviews){clientMutationId}}","variables":{"reviews":{"pullRequestId":"PR_kwDOMVd0xs7w2FOU","userIds":["U_kgDOCzNVWQ"],"union":true}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"reviews":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 623.860584ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($number:Int!$owner:String!$repo:String!){repository(owner: $owner, name: $repo){pullRequest(number: $number){id,number,url,title,state,headRefOid,baseRefName,isDraft,headRepository{owner{login},name},labels(first: 100){nodes{name}},reviewRequests(first: 100){nodes{requestedReviewer{... on Actor{login}}}},assignees(first: 100){nodes{login}}}}}","variables":{"number":109,"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"pullRequest":{"id":"PR_kwDOMVd0xs7w2FOU","number":109,"url":"https://github.com/test-owner/test-repo/pull/109","title":"Testing X7O7BGzP","state":"OPEN","headRefOid":"6ee0e4521a4e12e92ec5f7038d92cbe93349235a","baseRefName":"main","isDraft":false,"headRepository":{"owner":{"login":"test-owner"},"name":"test-repo"},"labels":{"nodes":[]},"reviewRequests":{"nodes":[{"requestedReviewer":{"login":"test-owner-robot"}}]},"assignees":{"nodes":[]}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.081417ms
