---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/workspaces/test-owner/members
        method: GET
      response:
        body: '{"values": [{"type": "workspace_membership", "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "workspace": {"type": "workspace", "uuid": "{e5f7e769-ffcd-459f-9553-966d9f8c0cd3}", "name": "test-owner", "slug": "test-owner", "links": {"avatar": {"href": "https://bitbucket.org/workspaces/test-owner/avatar/?ts=1769461625"}, "html": {"href": "https://bitbucket.org/test-owner/"}, "self": {"href": "https://api.bitbucket.org/2.0/workspaces/test-owner"}}}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/test-owner/members/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}}}, {"type": "workspace_membership", "user": {"display_name": "Test Reviewer", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D"}, "avatar": {"href": "https://secure.gravatar.com/avatar/62bdd2e0dc8509338812a2aca71205a8?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEK-2.png"}, "html": {"href": "https://bitbucket.org/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D/"}}, "type": "user", "uuid": "{81c5ba60-73a4-4acf-b981-a11872ebd0a2}", "account_id": "712020:f766d886-4617-47e9-837c-2e0763530b18", "nickname": "Test Reviewer"}, "workspace": {"type": "workspace", "uuid": "{e5f7e769-ffcd-459f-9553-966d9f8c0cd3}", "name": "test-owner", "slug": "test-owner", "links": {"avatar": {"href": "https://bitbucket.org/workspaces/test-owner/avatar/?ts=1769461625"}, "html": {"href": "https://bitbucket.org/test-owner/"}, "self": {"href": "https://api.bitbucket.org/2.0/workspaces/test-owner"}}}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/test-owner/members/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D"}}}], "pagelen": 50, "size": 2, "page": 1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 242.991209ms
    - id: 1
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing puynm0R4","description":"Test PR with reviewer","source":{"branch":{"name":"puynm0R4"}},"destination":{"branch":{"name":"main"}},"reviewers":[{"uuid":"{81c5ba60-73a4-4acf-b981-a11872ebd0a2}"}]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 99, "title": "Testing puynm0R4", "description": "Test PR with reviewer", "rendered": {"title": {"type": "rendered", "raw": "Testing puynm0R4", "markup": "markdown", "html": "<p>Testing puynm0R4</p>"}, "description": {"type": "rendered", "raw": "Test PR with reviewer", "markup": "markdown", "html": "<p>Test PR with reviewer</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-30T13:09:54.422527+00:00", "updated_on": "2026-01-30T13:09:54.933433+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "puynm0R4", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "5e759aff0673", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/commit/5e759aff0673"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/commits/5e759aff0673"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "test-owner/test-owner", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "test-owner", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [{"display_name": "Test Reviewer", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D"}, "avatar": {"href": "https://secure.gravatar.com/avatar/62bdd2e0dc8509338812a2aca71205a8?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEK-2.png"}, "html": {"href": "https://bitbucket.org/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D/"}}, "type": "user", "uuid": "{81c5ba60-73a4-4acf-b981-a11872ebd0a2}", "account_id": "712020:f766d886-4617-47e9-837c-2e0763530b18", "nickname": "Test Reviewer"}], "participants": [{"type": "participant", "user": {"display_name": "Test Reviewer", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D"}, "avatar": {"href": "https://secure.gravatar.com/avatar/62bdd2e0dc8509338812a2aca71205a8?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FEK-2.png"}, "html": {"href": "https://bitbucket.org/%7B81c5ba60-73a4-4acf-b981-a11872ebd0a2%7D/"}}, "type": "user", "uuid": "{81c5ba60-73a4-4acf-b981-a11872ebd0a2}", "account_id": "712020:f766d886-4617-47e9-837c-2e0763530b18", "nickname": "Test Reviewer"}, "role": "REVIEWER", "approved": false, "state": null, "participated_on": null}], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99"}, "html": {"href": "https://bitbucket.org/test-owner/test-owner/pull-requests/99"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diff/test-owner/test-owner:5e759aff0673%0D5934bca3d15f?from_pullrequest_id=99&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/diffstat/test-owner/test-owner:5e759aff0673%0D5934bca3d15f?from_pullrequest_id=99&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests/99/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR with reviewer", "markup": "markdown", "html": "<p>Test PR with reviewer</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 960.679833ms
    - id: 2
      request:
        host: api.bitbucket.org
        form:
            fields:
                - +values.reviewers
            pagelen:
                - "10"
            q:
                - source.branch.name="puynm0R4" AND source.repository.full_name="test-owner/test-owner"
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/test-owner/test-owner/pullrequests?q=source.branch.name%3D%22puynm0R4%22+AND+source.repository.full_name%3D%22test-owner%2Ftest-owner%22&pagelen=10&fields=%2Bvalues.r[...]
