---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/64779801
        method: GET
      response:
        body: '{"id":64779801,"description":null,"name":"test-repo","name_with_namespace":"Abhinav Gupta / test-repo","path":"test-repo","path_with_namespace":"abg/test-repo","created_at":"2024-11-23T16:35:46.252Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:abg/test-repo.git","http_url_to_repo":"https://gitlab.com/abg/test-repo.git","web_url":"https://gitlab.com/abg/test-repo","readme_url":null,"forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2026-02-01T22:13:59.099Z","visibility":"public","namespace":{"id":1117393,"name":"Abhinav Gupta","path":"abg","kind":"user","full_path":"abg","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"container_registry_image_prefix":"registry.gitlab.com/abg/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/64779801","merge_requests":"https://gitlab.com/api/v4/projects/64779801/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/64779801/repository/branches","labels":"https://gitlab.com/api/v4/projects/64779801/labels","events":"https://gitlab.com/api/v4/projects/64779801/events","members":"https://gitlab.com/api/v4/projects/64779801/members","cluster_agents":"https://gitlab.com/api/v4/projects/64779801/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":false,"empty_repo":false,"archived":false,"owner":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2024-11-24T16:35:46.274Z"},"repository_object_format":"sha1","issues_enabled":false,"merge_requests_enabled":true,"wiki_enabled":false,"jobs_enabled":false,"snippets_enabled":false,"container_registry_enabled":false,"service_desk_enabled":true,"can_create_merge_request_in":true,"issues_access_level":"disabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"disabled","builds_access_level":"disabled","snippets_access_level":"disabled","pages_access_level":"disabled","analytics_access_level":"disabled","container_registry_access_level":"disabled","security_and_compliance_access_level":"disabled","releases_access_level":"disabled","environments_access_level":"disabled","feature_flags_access_level":"disabled","infrastructure_access_level":"disabled","monitor_access_level":"disabled","model_experiments_access_level":"disabled","model_registry_access_level":"disabled","package_registry_access_level":"disabled","emails_disabled":true,"emails_enabled":false,"show_diff_preview_in_email":false,"shared_runners_enabled":true,"lfs_enabled":false,"creator_id":930270,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"description_html":"","updated_at":"2026-02-01T22:13:59.099Z","ci_default_git_depth":20,"ci_delete_pipelines_in_seconds":null,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"developer","runner_token_expiration_interval":null,"group_runners_enabled":true,"resource_group_default_process_mode":"unordered","auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"runners_token":"GR1348941cpXSMHzfUhGHayaS5Bxv","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":false,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"ff","merge_request_title_regex":null,"merge_request_title_regex_description":null,"squash_option":"default_on","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":"","merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":false,"compliance_frameworks":[],"duo_remote_flows_enabled":true,"duo_foundational_flows_enabled":true,"web_based_commit_signing_enabled":false,"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 470.838ms
    - id: 1
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg","created_at":"2017-01-07T03:40:46.795Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"https://abhinavg.net","github":"","job_title":"","pronouns":"","organization":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2025-12-10T23:05:22.499Z","confirmed_at":"2021-10-19T01:30:11.688Z","last_activity_on":"2026-02-01","email":"mail@abhinavg.net","theme_id":3,"color_scheme_id":2,"projects_limit":100000,"current_sign_in_at":"2025-12-14T21:21:05.681Z","identities":[{"provider":"github","extern_uid":"41730","saml_provider_id":null}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":true,"external":false,"private_profile":false,"commit_email":"mail@abhinavg.net","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 192.198625ms
    - id: 2
      request:
        host: gitlab.com
        body: '{"title":"Testing sujoicBi","description":"Test PR for comments","source_branch":"sujoicBi","target_branch":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests
        method: POST
      response:
        body: '{"id":451093160,"iid":53,"project_id":64779801,"title":"Testing sujoicBi","description":"Test PR for comments","state":"opened","created_at":"2026-02-01T22:15:16.768Z","updated_at":"2026-02-01T22:15:16.768Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"sujoicBi","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":64779801,"target_project_id":64779801,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","merge_after":null,"sha":"e8db30731f1e111f0375ad77ebd3b33c84cdb169","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"prepared_at":null,"reference":"!53","references":{"short":"!53","relative":"!53","full":"abg/test-repo!53"},"web_url":"https://gitlab.com/abg/test-repo/-/merge_requests/53","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":true,"squash_on_merge":true,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 544.379333ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"body":"aESD2hvFW3VrEaed0itRD2PGS65lDejF"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/53/notes
        method: POST
      response:
        body: '{"id":3050091787,"type":null,"body":"aESD2hvFW3VrEaed0itRD2PGS65lDejF","author":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"created_at":"2026-02-01T22:15:17.363Z","updated_at":"2026-02-01T22:15:17.363Z","system":false,"noteable_id":451093160,"noteable_type":"MergeRequest","project_id":64779801,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":53,"commands_changes":{}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 509.909666ms
[...]
    - id: 13
      request:
        host: gitlab.com
        body: '{"body":"L9f5zHWg4up0ogU4M0rSUCHP5ULpQ7eS"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/53/notes/3050091787
        method: PUT
      response:
        body: '{"id":3050091787,"type":null,"body":"L9f5zHWg4up0ogU4M0rSUCHP5ULpQ7eS","author":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026d=identicon","web_url":"https://gitlab.com/abg"},"created_at":"2026-02-01T22:15:17.363Z","updated_at":"2026-02-01T22:15:22.366Z","system":false,"noteable_id":451093160,"noteable_type":"MergeRequest","project_id":64779801,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":53,"commands_changes":{}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 505.145708ms
[...]
    - id: 15
      request:
        host: gitlab.com
        body: '{"body":"should fail"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/53/notes/3050091789
        method: PUT
      response:
        body: '{"message":"404 Not found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 360.437208ms
    - id: 16
      request:
        host: gitlab.com
        form:
            per_page:
                - "3"
            sort:
                - asc
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/53/notes?per_page=3&sort=asc
        method: GET
      response:
        body: '[{"id":3050091787,"type":null,"body":"L9f5zHWg4up0ogU4M0rSUCHP5ULpQ7eS","author":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e9a34bfd0e7f9ab63137b7653f656daaddbb65e84d3ef0852febd4c3e889a835?s=80\u0026[...]
    - id: 17
      request:
        host: gitlab.com
        form:
            page:
                - "2"
            per_page:
                - "3"
            sort:
                - asc
        headers:
        url: https://gitlab.com/api/v4/projects/64779801/merge_requests/53/notes?page=2&per_page=3&sort=asc
        method: GET
      response:
        body: '[{"id":3050091807,"type":null,"body":"TRcPG5Lgnkw2rdjhs8XVGjpHd47ghm5V","author":{"id":930270,"username":"abg","public_email":"","name":"Abhinav Gupta","state":"active","locked":false,"avatar_url":"https://secure.grav[...]
[...]
