name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      name: Check out repository
    - uses: jdx/mise-action@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Go cache
      uses: ./.github/actions/go-cache
    - run: mise run generate
    - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
      with:
        fail-fast: true
